.footer-text-container {
  font-family: SofiaProSoftW01-Regular;
  position: relative;
  letter-spacing: 0.1em;
  top: 85.5%;
  padding: 0 4.65em;
  font-size: 12px;
}

/* Footer text */
.footer-text__designers {
  text-align: left;
  width: 50%;
  float: left;
}

.footer-text__copyright {
  text-align: right;
  width: 50%;
  float: right;
}
