.cta {
  &__container {
    position: relative;
    min-height: 906px;
    width: 100vw;
    left: 0;
    display: flex;
    flex-flow: column nowrap;
    @include respond(tab-land) {
      min-height: 776px;
    }
  }
  @import './button/button';
  @import './actions/join';
  @import './actions/sponsor';
}
