.updates-card {
  &__container {
    @include cardContainer();
  }

  &__card {
    @include card();
  }

  &__title {
    @include cardTitle;
  }

  &__blinker {
    height: 25px;
    width: 25px;
    background-color: #82d06f;
    border-radius: 50%;
    display: block;
    animation: blink 1.8s infinite ease-out;
  }

  @keyframes blink {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
    75% {
      opacity: 0.5;
    }
    100% {
      opacity: 0;
    }
  }
}
