.updates-card {
  &__container {
    @include cardContainer();
  }

  &__card {
    @include card();
  }

  &__title {
    @include cardTitle;
  }

  &__blinker-container {
    animation: blink 1s infinite;
  }

  &__blinker {
    height: 25px;
    width: 25px;
    background: #82d06f;
    border-radius: 50%;
    display: block;
  }

  @keyframes blink {
    0% {
      color: #82d06f;
    }
    49% {
      color: transparent;
    }
    50% {
      color: transparent;
    }
    99% {
      color: transparent;
    }
    100% {
      color: #82d06f;
    }
  }
}
