@mixin ProjectTitle {
    @include font-source-header(
        $size: 1.12em,
        $color: #FFFFFF,
        $weight: bold,
        $lineHeight: 20px,
        $textIndent: 1em,
        $letterSpace: 0.02em
    );
}

@mixin ProjectDescription {
    @include font-source-body(
        $size: 1.12em,
        $color: #FFFFFF,
        $weight: normal,
        $lineHeight: 27px,
        $letterSpace: 0.02em
    )
}

.post-landing-winner {
    &__container {
        position: relative;
        display: block;
        height: 40em;
    }

    @import './box/box';
    @import './linkedinlinks/linkedinlink';
}