.postLanding-share {
  &__container {
    position: relative;
    max-height: 18em;
    top: calc(8vh - 2em);
    @include respond(tab-port) {
      max-height: 14em;
    }
    @include respond(phone) {
      max-height: 10em;
    }
    @include respond(phone-narrow) {
      max-height: 6em;
      margin-bottom: 13em;
      top: calc(4em + 10vh);
    }
  }
  &__links-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__links-title {
    @include postLandingTitle;
  }
  &__link-container {
    position: relative;
    display: flex;
    flex-direction: column;
    bottom: 20em;
    @include respond(tab-port) {
      bottom: 13em;
    }
    @include respond(phone) {
      bottom: 10em;
    }
    @include respond(phone-narrow) {
      bottom: 18em;
    }
  }
  &__links {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  &__links img {
    margin: 0 auto;
    cursor: pointer;
    @include respond(tab-port) {
      transform: scale(0.75);
    }
  }
  @import './logos/logos';
  @import './backdrop/backdrop';
}
