.postLanding-share {
  &__container {
    position: relative;
    max-height: 18em;
  }
  &__links-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__links-title {
    @include font-source-header(
      $size: 27px,
      $lineHeight: 32px,
      $letterSpace: 0.02em,
      $textIndent: 0px,
      $textAlign: center,
      $fontStyle: false,
      $weight: bold,
      $color: #2e2c5f
    );
    font-family: 'Rubik Bold';
    display: block;
    text-align: center;
    margin: 0 auto;
    min-width: 15.5em;
    @include responsive-font(3.1vw, 18px, 27px);
  }
  &__link-container {
    position: relative;
    display: flex;
    flex-direction: column;
    bottom: 20em;
  }
  &__links {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  &__links img {
    margin: 0 auto;
  }
  @import './logos/logos';
  @import './backdrop/backdrop';
}
