&__box-container {
  position: relative;
  display: flex;
  width: 28em;
  height: 28em;
  padding-bottom: calc(2em + 1vw);
  transition: transform 0.2s ease;
  &:hover {
    transform: translateY(-0.25vh);
    .post-landing-winner__bottom-box {
      background: lighten($color: #5dcec6, $amount: 10%);
    }
  }
}

&__top-box {
  position: absolute;
  display: block;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  width: 28em;
  height: 15em;
  background-color: lightblue;
  overflow: hidden;
}

&__banner {
  position: absolute;
  background-color: #2e2c5f;
  transform: rotate(-46.14deg);
  height: 3em;
  width: 12em;
  left: -3em;
  top: 1em;
  &:after {
    content: 'WINNER';
    position: fixed;
    color: white;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -45%);
  }
}

&__image {
  width: 28em;
}

&__bottom-box {
  display: block;
  position: absolute;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 28em;
  height: 14em;
  background: #5dcec6;
  transition: background 0.5s ease;
  top: 14em;
}

&__title {
  @include postLandingTitle;
  @include responsive-font(3.4vw, 18px, 22px);
  // this might need responsive units
  margin-top: 1em;
  margin-bottom: -0.5em;
}

&__description {
  @include ProjectDescription();
}
