&__project-container {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 33em;
}

&__box-container {
  position: relative;
  display: flex;
  width: 28em;
}

&__top-box {
  position: absolute;
  display: block;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  width: 28em;
  height: 15em;
  background-color: lightblue;
  overflow: hidden;
}

&__banner {
  position: absolute;
  background-color: #2e2c5f;
  transform: rotate(-46.14deg);
  height: 3em;
  width: 12em;
  left: -3em;
  top: 1em;
}

&__banner-text {
  text-align: center;
  @include postLandingTitle();
  margin-left: -2.8em;
  text-transform: uppercase;
}

&__image {
  width: 28em;
}

&__bottom-box {
  display: block;
  position: absolute;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 28em;
  height: 14em;
  background-color: #5dcec6;
  top: 14em;
}

&__title {
  @include postLandingTitle;
  @include responsive-font(3.4vw, 18px, 22px);
  // this might need responsive units
  margin-top: 1em;
  margin-bottom: -0.5em;
}

&__description {
  @include ProjectDescription();
}
