.sponsors {
  &__container {
    @include flexBox();
    @include flexColumn();
    position: relative;
    top: -2.5em;
    @media screen and (max-width: 394px) {
      margin-top: -0.25em;
    }
  }
  @import './container/container.scss';
  @import './logos/logos.scss';
}

.sponsors__logos-imgTera img {
  width: 100%;
  @include respond(tab-port) {
    width: 80%;
  }
}

.sponsors__logos-imgGiga img {
  width: 100%;
  @include respond(tab-port) {
    width: 80%;
  }
}

.sponsors__logos-imgKilo img {
  width: 100%;
  @include respond(tab-port) {
    width: 80%;
  }
}

.sponsors__logos-imgMega img {
  width: 100%;
  @include respond(tab-port) {
    width: 80%;
  }
}
