.sponsors {
  &__container {
    @include flexBox();
    @include flexColumn();
    position: relative;
    min-height: 496px;
    @include respond(tab-port) {
      min-height: 396px;
    }
  }
  @import './container/container.scss';
}
