.hacker-packet {
  &__container {
    @include cardContainer();
  }

  &__card {
    @include card();
  }

  &__slug-on {
    @include font-source-subheader(
      $size: 22px,
      $color: #575757,
      $weight: bold,
      $lineHeight: 4.56em,
      $letterSpace: 0.05em,
      $fontStyle: normal
    );
    padding-left: calc(10px + 2vw);
    @include responsive-font(1.4vw, 14px, 22px);
    text-transform: uppercase;
  }

  &__title {
    @include cardTitle();
    margin-top: -1em;
  }

  &__info {
    @include font-source-subheader(
      $size: 18px,
      $color: #424242,
      $weight: normal,
      $lineHeight: 30px,
      $letterSpace: 0.05em
    );
    display: block;
    font-style: normal;
    text-align: left;
    margin-left: calc(20px + 5vw);
    margin-right: calc(20px + 5vw);
    margin-bottom: 60px;
  }

  &__packet {
    padding: 20px;
    background: #45c899;
    border-radius: 7px;
    text-align: center;
    display: block;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 15px;
    text-decoration: none;

    @include font-source-subheader(
      $size: 18px,
      $color: #ffffff,
      $weight: 600,
      $lineHeight: 25px,
      $letterSpace: 0.05em
    );
  }

  &__packet:hover {
    background: #32aa7f;
  }

  &__link-container {
    padding-bottom: 12px;
  }
}
