.hero-view-container {
  display: flex;
  flex-flow: column wrap;
  width: 100vw;
  // min-height: 813px;
  min-height: 850px;
}

@media all and (max-width: 321px) {
  div.hero-title-area {
    position: unset;
    position: absolute;
    left: unset;
    top: unset;
    top: 5%;
  }
}

@media all and (max-width: 426px) {
  div.navigate-to-bottom-container {
    visibility: hidden;
  }

  div.hero-title-area {
    position: unset;
    position: absolute;
    left: unset;
    top: 25%;
  }

  div.hero-title-area__button {
    align-self: center;
    // left: 12vw;
  }
}

@media all and (max-width: 625px) {
  div.hero__mlh-badge {
    visibility: hidden;
  }
}

@media all and (max-width: 700px) {
  div.hero-view-container {
    justify-content: center;
    align-items: center;
  }

  div.navbar__button-container {
    flex-flow: column wrap;
    right: 0;
    right: 35%;
  }
}

@media all and (max-width: 900px) {
  div.hero-title-area {
    left: 5%;
  }

  div.hero-title-area__button {
    // top: 222px;
    top: 305px;
  }

  div.hero-title-area__eventInfo {
    // top: 90px;
    top: 190px;
  }

  div.navigate-to-bottom-container {
    // top: 315px;
    top: 415px;
  }
}

@media all and (max-width: 1280px) {
  div.hero__mlh-badge {
    right: 3.73%;
  }
}
