.stats {
  align-content: center;
  &__container {
    @include flexBox();
    height: 50vh;
    width: 100vw;
    position: absolute;
    top: 150vh;
  }
  &__title {
    top: 10vh;
    margin: auto;
    text-align: center;
    position: absolute;
  }
  &__tree {
    @include svgContent();
    width: 75vw;
    margin: 0 auto;
  }
  &__tree-container {
    @include svgContainer();
    max-width: 800px;
    height: 45vh;
  }
  &__stat-box {
    position: absolute;
    background: #ffffff;
    border: 4px solid #76e2da;
    box-sizing: border-box;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
  }
}
