.stats {
  // import tree & box children
  @import './tree/tree';
  @import './box/box';
  align-content: center;
  &__container {
    @include flexBox();
    height: 50vh;
    width: 100vw;
    position: absolute;
    top: 150vh;
  }
  &__title {
    @include h1();
    width: 100vw;
    display: block;
    top: 0;
    margin: auto;
    text-align: center;
    position: absolute;
  }
}
