@media all and (max-width: 650px) {
  .hero-nav-buttons-container {
    flex-wrap: wrap;
    flex-direction: column;
  }
}

/* HeroHeader */

.hero-header-container {
  display: flex;
  justify-content: center;
}

/* HeroLightbulb */

.hero-lightbulb-container {
  width: 36;
  height: 30;
  position: absolute;
  margin: 25px 25px 25px 25px;
  left: 0;
}

/* HeroMlhBadge */

.hero-mlh-badge {
  position: absolute;
  margin: 0 50px 0 0;
  right: 0;
  top: 0;
}

/* HeroNavButtonsContainer */

.hero-nav-buttons-container {
  display: flex;
  position: absolute;
  right: 150px;
}

.hero-nav-button-container {
  margin: 30px 30px 30px 30px;
}

.nav-button-text {
  fill: #373737;
}

.nav-button-text:hover {
  fill: #ffffff;
}

/* HeroRightside */

.hero-right-side {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 815px;
  height: 749px;
}

// @media all and (max-width: 1100px) {
//   .hero-right-side {
//     width: 70vw;
//   }
//   .hero-title-text {
//     position: absolute;
//     left: 100px;
//     top: 280px;
//   }
// }

/* HeroTitleText */

.hero-title-text {
  position: absolute;
  left: 115px;
  top: 275px;

  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 39px;
  line-height: 46px;
  letter-spacing: 0.04em;
  text-indent: 3px;

  color: #222222;

  mix-blend-mode: normal;
}

/* HeroSloganText */

.hero-slogan-text {
  position: absolute;
  left: 246px;
  top: 329px;

  font-family: SofiaProSoftW01-Regular;
  font-size: 22px;
  line-height: 28px;
  /* identical to box height */

  letter-spacing: 0.06em;
  text-indent: 3px;

  color: #9e9eff;
}

.hero-info-text-container {
  position: absolute;
  left: 115px;
  top: 427px;
}

/* HeroSponsorUsButtonContainer */

.hero-sponsor-us-button-container {
  position: absolute;
  left: 115px;
  top: 541px;
}

.hero-sponsor-us-button {
  position: absolute;
  left: 0;
  top: 0;

  background: #6f6fe8;
  box-shadow: 0px 2px 6px #bfbfbf;
  border-radius: 23px;
}

/* HeroSponsorUsButtonText */

.hero-sponsor-us-button-text {
  position: absolute;
  left: 41px;
  top: 17px;

  font-family: SofiaProSoftW01-Regular;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.07em;
  text-indent: 3px;

  color: #fffefe;
}

.navigate-to-bottom-container {
  position: absolute;
  left: 99px;
  top: 637px;
}

.navigate-to-bottom-outer-circle {
  position: absolute;
  left: 0;
  top: 0;
}

.navigate-to-bottom-middle-circle {
  position: absolute;
  left: 11px;
  top: 11px;
}

.navigate-to-bottom-inner-circle {
  position: absolute;
  left: 21px;
  top: 21px;
}

.navigate-to-bottom-arrow {
  position: absolute;
  left: 25px;
  top: -5px;
}
