
@import "../../base"

.hero

  &__mlh-badge 
    position: absolute
    padding: 0 30px 0 0
    right: 0
    top: 0
  
  &__lightbulb 
    position: absolute
    padding: 0 0 0 30px
    left: 0
  
  &__title
    position: absolute
    left: 9.98%
    right: 41.84%
    top: 30%
    bottom: 93.34%

    font-family: Rubik
    font-style: normal
    font-weight: 500
    font-size: 39px
    line-height: 46px
    letter-spacing: 0.04em
    text-indent: 3px

    color: #222222

    mix-blend-mode: normal
 
  &__slogan-text
    position: absolute
    left: 18%
    top: 38%
    bottom: 93.34%
    @include font-source-body($size: 22px, $color: #9e9eff, $lineHeight: 28px, $letterSpace: 0.06em)
    text-indent: 3px
  
  /* placeholder styles */

  &__header-container 
    display: flex
    flex-direction: row
    align-items: center

  &__team-button-text 
    font-family: SofiaProSoftW01-Regular
    font-size: 13px
    line-height: 16px
    /* identical to box height */
    text-align: center
    letter-spacing: 0.06em
    color: #373737

  &__join-us-button-text 
    font-family: SofiaProSoftW01-Regular
    font-size: 13px
    line-height: 16px
    /* identical to box height */
    text-align: center
    letter-spacing: 0.06em
    color: #373737

  &__sponsor-button-text 
    font-family: SofiaProSoftW01-Regular
    font-size: 13px
    line-height: 16px
    /* identical to box height */
    text-align: center
    letter-spacing: 0.06em
    color: #373737

  &__apply-button-text 
    font-family: SofiaProSoftW01-Regular
    font-size: 13px
    line-height: 16px
    /* identical to box height */
    text-align: center
    letter-spacing: 0.06em
    color: #373737
