/* HeroNavButtonsContainer */

.navbar {
  display: flex;
  position: absolute;
  right: 150px;
}

.navbar__button {
  margin: 30px 30px 30px 30px;
}

.navbar__button__text {
  fill: #373737;
}

.navbar__button__text:hover {
  fill: #ffffff;
}
