&__navbar {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  position: relative;
  top: 0;
  height: 5em;
  background: #ffffff;
  font-family: 'Rubik Regular';
  font-weight: 600;
  background-color: #ffffff;
  color: #5342f3;
  letter-spacing: 0.05em;
  @include respond(phone) {
    height: 4.5em;
  }
}

&__navbar-text-container {
  display: flex;
  width: 92%;
  left: 8em;
  top: 2em;
  position: relative;
  @include respond(desktop) {
    width: 87%;
  }
  @include respond(tab-land) {
    width: 83%;
  }
  @include respond(tab-port) {
    width: 79%;
  }
  @include respond(phone) {
    width: 73%;
    top: 1.75em;
  }
  @include respond(phone-narrow) {
    width: 67%;
  }
  @include respond(smallest) {
    width: 65%;
    left: 6em;
  }
}

&__navbar-title {
  order: 1;
  flex-basis: 93%;
  flex-grow: 0.75;
  @include respond(phone) {
    flex-basis: 10%;
  }
  @include respond(smallest) {
    padding-right: 28%;
  }
}

&__navbar-logout-container {
  cursor: pointer;
  display: table;
  order: 2;
  border: 1px solid #6f6fe8;
  width: 6em;
  height: 50%;
  position: relative;
  bottom: 0.5em;
  border-radius: 27px;
  align-items: baseline;
  text-align: center;
  z-index: 2;
  white-space: nowrap;
  text-decoration: none;
  transition: background-color 0.2s ease-out;
  &:hover {
    background: #5555cf;
    transition: background-color 0.2s ease-in;
  }
  transition: color 0.2s ease-out;
  &:hover {
    color: #ffffff;
    transition: color 0.2s ease-in;
  }
}

&__navbar-logout {
  display: table-cell;
  vertical-align: middle;
  padding: 0.2em;
  min-width: 2em;
}
