// mega
&__logos-earthHacks {
  position: relative;
  @include respond(phone-narrow) {
    bottom: calc(0.8em - 2.75vw);
  }
}
&__logos-iD {
  position: relative;
  bottom: 0.25em;
  @include respond(tab-port) {
    bottom: 0.25vw;
  }
}
&__logos-theArts {
  position: relative;
  bottom: 1em;
  @include respond(tab-port) {
    bottom: 2vw;
  }
}
&__logos-sctb {
  position: relative;
  bottom: 1em;
  @include respond(tab-port) {
    bottom: 3vw;
    max-width: 70%;
  }
}
&__logos-scw {
  position: relative;
  bottom: 0.65em;
  @include respond(phone-narrow) {
    bottom: 0.5em
  }
}
&__logos-notivize {
  position: relative;
  bottom: 0.5em;
  @include respond(tab-port) {
    bottom: calc(0.1em - 1.3vw);
  }
  @include respond(phone-narrow) {
    bottom: calc(0.1em - 1.4vw);
  }
  @include respond(smallest) {
    bottom: calc(0.07em - 1.9vw);
  }
}
&__logos-stickermule {
  position: relative;
  bottom: 0.5em;
  @include respond(tab-port) {
    bottom: calc(0.1em - 1.3vw);
  }
  @include respond(phone-narrow) {
    bottom: calc(0.1em - 1.4vw);
  }
  @include respond(smallest) {
    bottom: calc(0.07em - 1.9vw);
  }
}
&__logos-shawee {
  position: relative;
  top: 0.25em;
  @include respond(tab-port) {
    top: 1vw;
  }
}
&__logos-stickermule {
  position: relative;
  bottom: 0.25em;
  @include respond(phone-narrow) {
    top: calc(0.4em - 1.75vw);
  }
}
&__logos-guayaki {
  position: relative;
  bottom: 0.55em;
  @include respond(tab-port) {
    bottom: 2vw;
  }
}
&__logos-pathrise {
  @include respond(tab-port) {
    position: relative;
    top: 0.7vw;
  }
}
&__logos-ripplematch {
  position: relative;
  top: 0.9em;
  @include respond(tab-port) {
    top: unset;
    bottom: calc(0.8em - 3vw);
    min-width: 105%;
  }
  @include respond(phone) {
    bottom: -0.4em;
  }
  @include respond(phone-narrow) {
    bottom: -0.02em;
  }
}
