.welcome-view-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 100vw;
    margin: auto;
}

@media all and (max-width: 700px) {
    div.welcome-view-container {
        height: unset;
    }   
}

@media all and (max-width: 1280px) {
    div.welcome-view-container {
        width: 115vw;
        margin: unset;
    }
}