.hero__container {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: static;
}

@media all and (max-width: 700px) {
  div.navbar__button-container {
    flex-flow: column wrap;
    right: 0;
    right: 35%;
  }
}

@media all and (max-width: 1280px) {
  div.hero__lightbulb {
    left: 3.3%;
  }

  div.hero__mlh-badge {
    right: 3.73%;
  }
}
