&__tree {
  @include svgContent();
  width: 75vw;
  height: 35vh;
  top: 5vh;
  position: relative;
}
&__tree-container {
  @include svgContainer();
  height: 50vh;
  width: auto;
  top: 10vh;
  position: static;
  vertical-align: middle;
  align-self: center;
}
