&__tree {
  @include svgContent();
  width: 75vw;
  height: 35vh;
  position: relative;
}
&__tree-container {
  @include svgContainer();
  height: 45vh;
  width: 100vw;
  margin: 0 auto;
  top: 10vh;
  left: auto;
}
