&__box {
  // top: 100vh;
  display: inline-block;
  position: sticky;
  // max-height: 39em;
  max-width: 51em;
  min-height: fit-content;
  height: 45em;
  width: 80vw;
  background: #ffffff;
  border: 4px solid #7171cb;
  box-sizing: border-box;
  border-radius: 77px;
  @include respond(phone) {
    max-height: fit-content;
    align-content: center;
  }
}

&__title {
  @include font-source-header(
    $size: 40px,
    $color: #2e2c5f,
    $weight: bold,
    $lineHeight: 47px,
    $letterSpace: 0.05em
  );
  display: block;
  margin-top: 1em;
  text-align: center;
}

&__divider {
  border: 1px solid #2e2c5f;
  display: block;
  text-align: center;
  margin: auto;
  width: 30em;
  @include respond(phone) {
    border: 0;
  }
}

&__questionGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-column-gap: 4.375vw;
  grid-row-gap: 5.87vh;
  justify-items: left;
  justify-content: center;
  margin: 5.7vh;
  overflow-block: center;
  @include respond(phone) {
    display: block;
  }
}

&__questions {
  @include font-source-header(
    $size: 1.25em,
    $color: #000000,
    $weight: normal,
    $lineHeight: 22px
  );
  padding: 0;
  border: 1px solid #6f6fe8;
  border-radius: 26px;
  padding: 0.4em 0.2em 0.4em 0.2em;
  background: none;
  @include respond(phone) {
    padding: 0.35em 0.3em 0.35em 0.3em;
    margin: 1.8vh;
  }
}

&__popupInner {
  // top: 100vh;
  position: absolute;
  max-height: 39em;
  max-width: 51em;
  height: 48vh;
  width: 80vw;
  background: #ffffff;
  border: 4px solid #7171cb;
  box-sizing: border-box;
  border-radius: 77px;
  z-index: 2;
  left: 21.7vw;
}

&__popupQuestion {
  @include font-source-header(
    $size: 1.25em,
    $color: #000000,
    $weight: normal,
    $lineHeight: 18px
  );
  display: block;
  text-align: center;
}

&__popupAnswer {
  @include font-source-header(
    $size: 0.87em,
    $color: #656565,
    $weight: 300,
    $lineHeight: 14px
  );
  display: block;
  text-align: center;
  margin: 7vh;
}

&__popupExit {
  color: #7171cb;
  padding: 0;
  border: 1px solid #6f6fe8;
  padding: 0.25em;
  border-radius: 26px;
  background: none;
  font-size: 1em;
}

&__popupContainer {
  @include flexBox();
  margin: 7vh;
  display: block;
}

&__contactForm {
  align-items: center;
  input[type='email'] {
    display: block;
  }
  textarea {
    display: block;
  }
}

&__box-container {
  @include flexBox();
}
