&__box {
  position: absolute;
  //background: #ffffff;
  border: 4px solid #76e2da;
  box-sizing: border-box;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

&__box-stat {
  @include font-source-header(
    $size: 4em,
    $color: #5dcec6,
    $weight: 500,
    $lineHeight: 41px
  );
}

&__box-category {
}

&__box-container {
  @include flexBox();
}
