/* HeroMlhBadge */

.hero-mlh-badge {
  position: absolute;
  padding: 0 30px 0 0;
  right: 0;
  top: 0;
}

/* HeroLightbulb */

.hero-lightbulb {
  position: absolute;
  padding: 0 0 0 30px;
  left: 0;
}

/* HeroTitleText */

.hero-title-text {
  position: absolute;
  left: 9.98%;
  right: 41.84%;
  top: 30%;
  bottom: 93.34%;

  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 39px;
  line-height: 46px;
  letter-spacing: 0.04em;
  text-indent: 3px;

  color: #222222;

  mix-blend-mode: normal;
}

/* HeroSloganText */

.hero-slogan-text {
  position: absolute;
  left: 18%;
  top: 38%;
  bottom: 93.34%;

  font-family: SofiaProSoftW01-Regular;
  font-size: 22px;
  line-height: 28px;
  /* identical to box height */

  letter-spacing: 0.06em;
  text-indent: 3px;

  color: #9e9eff;
}

// .hero-navbar-container {
//   flex-flow: column wrap;
//   padding: 10 10 10 10;
// }

.hero-header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* HeroNavButtonsContainer */

.hero-nav-buttons-container {
  display: flex;
  flex-direction: row;
}

.hero-nav-button-container {
  padding: 30px 30px 30px 30px;
}

/* HeroTeamButtonText */

.hero-team-button-text {
  font-family: SofiaProSoftW01-Regular;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.06em;
  color: #373737;
}

/* HeroJoinUsButtonText */

.hero-join-us-button-text {
  font-family: SofiaProSoftW01-Regular;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.06em;
  color: #373737;
}

/* HeroSponsorButtonText */

.hero-sponsor-button-text {
  font-family: SofiaProSoftW01-Regular;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.06em;
  color: #373737;
}

/* HeroApplyButtonText */

.hero-apply-button-text {
  font-family: SofiaProSoftW01-Regular;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.06em;
  color: #373737;
}
