.post-landing-hero {
  &__container {
    height: 100vh;
    min-height: 500px;
    position: relative;
  }
  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(65vw);
    max-width: 900px;
    min-width: 200px;
    @include respond(desktop) {
      width: calc(60vw);
    }
    @include respond(mission) {
      width: calc(69vw);
    }
    @include respond(tab-port) {
      width: auto;
      right: -5px;
      height: 41em;
    }
    @include respond(phone) {
      height: 31em;
      top: -0.75em;
    }
    @include respond(phone-narrow) {
      height: 25em;
      top: -0.75em;
    }
  }
  &__pillars {
    position: relative;
    top: 10vh;
    max-width: 55%;
    z-index: -1;
  }
  &__lowPillar {
    @include respond(mission) {
      display: none;
    }
  }
}
