.post-landing-hero {
  &__container {
    height: 100vh;
    min-height: calc(25em + 20vw);
    position: relative;
    @include respond(phone) {
      min-height: 500px;
    }
  }
  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(65vw);
    max-width: 105vh;
    min-width: 35em;
    @include respond(tab-port) {
      min-width: unset;
      max-width: 35em;
      width: auto;
      right: -5px;
      height: 41em;
    }
    @include respond(phone) {
      min-width: 200px;
      height: 31em;
      top: -0.75em;
    }
    @include respond(phone-narrow) {
      height: 25em;
      top: -0.75em;
    }
  }
  &__pillars {
    position: relative;
    top: 10vh;
    max-width: 55%;
    z-index: -1;
  }
  &__lowPillar {
    @include respond(mission) {
      display: none;
    }
  }
}
