.gen-schedule {
  &__container {
    @include cardContainer();
  }

  &__card {
    @include card();
  }

  &__title {
    @include cardTitle;
  }

  &__links {
    display: flex;
    flex-flow: row;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 300px;
  }

  &__link-day-one,
  &__link-day-two,
  &__link-day-three {
    text-decoration: none;
    border: none;
    @include font-source-subheader(
      $size: 18px,
      $color: #424242,
      $weight: normal,
      $lineHeight: 30px,
      $letterSpace: 0.05em
    );
    background: none;
    border-radius: 25.5px;
  }

  &__link-day-one.active,
  &__link-day-one:active,
  &__link-day-two.active,
  &__link-day-two:active,
  &__link-day-three.active,
  &__link-day-three:active {
    background-color: #f2f2f2;
    @include font-source-subheader(
      $size: 18px,
      $color: #424242,
      $weight: bold,
      $lineHeight: 30px,
      $letterSpace: 0.05em
    );
    outline: 0;
  }
}

@import './dayone/dayone';
@import './daytwo/daytwo';
@import './daythree/daythree';
