@mixin dayTitle {
  @include font-source-subheader(
    $size: 20px,
    $color: #646262,
    $weight: bold,
    $lineHeight: 30px,
    $letterSpace: 0.05em
  );
  @include responsive-font(2.1vw, 14px, 20px);
}
@mixin eventTime {
  @include font-source-subheader(
    $size: 20px,
    $color: #424242,
    $weight: normal,
    $lineHeight: 30px,
    $letterSpace: 0.05em
  );
  @include responsive-font(2.8vw, 14px, 20px);
  position: absolute;
  right: 0;
}
.gen-schedule {
  &__container {
    @include cardContainer();
  }

  &__card {
    @include card();
  }

  &__title {
    @include cardTitle;
  }

  &__links {
    display: flex;
    flex-flow: row;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 300px;
  }

  &__link-day-one,
  &__link-day-two,
  &__link-day-three {
    text-decoration: none;
    border: none;
    @include font-source-subheader(
      $size: 18px,
      $color: #424242,
      $weight: normal,
      $lineHeight: 30px,
      $letterSpace: 0.05em
    );
    @include responsive-font(2.8vw, 12px, 18px);
    background: none;
    border-radius: 25.5px;
  }

  &__link-day-one.active,
  &__link-day-one:active,
  &__link-day-two.active,
  &__link-day-two:active,
  &__link-day-three.active,
  &__link-day-three:active {
    background-color: #f2f2f2;
    font-weight: bold;
    outline: 0;
  }
}

@import './dayone/dayone';
@import './daytwo/daytwo';
@import './daythree/daythree';
