&__subtitle {
  @include font-source-subheader(
    $size: 1.25em,
    $color: #767676,
    $lineHeight: 25px,
    $letterSpace: 0.04em,
    $textIndent: 3px
  );
  margin-top: 10px;
  height: 25px;

  @include respond(tab-land) {
    font-size: 1em;
    letter-spacing: 0.04em;
  }
}
