.postLanding-cta {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 20px 0 calc(8vh - 0.2em) 0;
    top: calc(8vh - 2em);
    min-height: 375px;
  }
  &__button-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 200px;
    margin-top: 10px;
  }
  &__title {
    @include postLandingTitle;
    padding: 0 0 calc(3vh - 0.2em) 0;
  }
  &__info {
    width: 25em;
    padding-bottom: 10px;
    @include font-source-body(
      $size: 18px,
      $lineHeight: 27px,
      $letterSpace: 0.02em,
      $textIndent: false,
      $fontStyle: false,
      $textAlign: false,
      $weight: false,
      $color: #383636
    );
    @include responsive-font(2.7vw, 12px, 18px);
  }
}

.postLanding-cta .ctaButton:nth-child(2) {
  padding: 14px 32px;
}
