.hero-backdrop__container {
    min-height: 960px;
    position: relative;

    @include respond(tab-land) {
        min-height: 760px;
    }
    @include respond(phone) {
        min-height: 660px;
    }
}

// SVGs
.hero-backdrop-all-pillars__image {
    position: absolute;

    max-width: 31%;
    height: auto;

    left: 0;
    top: 124px;

    @include respond(phone) {
        left: 3px;
        top: 106px;
        max-width: 75%;
        height: auto;
    }
}

.hero-backdrop-rightside-mobile__image {

    position: absolute;
    top: 0;
    right: 0;

    display: none;

    @include respond(phone) {
        display: initial;
    }
}

.hero-backdrop-rightside__image {
    position: absolute;
    top: 0;
    right: 0;

    max-width: 69%;
    height: auto;

    @include respond(phone) {
        display: none;
    }
}