.hero-backdrop {
  &__container {
    min-height: 960px;
    position: relative;

    @include respond(tab-land) {
      min-height: 760px;
    }
    @include respond(phone) {
      min-height: 660px;
    }
  }

  // SVGs
  &__all-pillars-image {
    position: absolute;

    max-width: 30em;
    height: auto;

    left: 0;
    top: 184px;
    @include respond(mission) {
      max-width: 26em;
    }
    @include respond(tab-land) {
      max-width: 28em;
      height: auto;
    }
    @include respond(tab-port) {
      top: 20vh;
      max-width: 28em;
      height: auto;
    }
    @include respond(phone-narrow) {
      left: 3px;
      top: 22vh;
      max-width: 24em;
      height: auto;
    }
  }

  &__rightside-image {
    position: absolute;
    top: 0;
    right: 0;

    max-height: 145vh;

    @include respond(tab-land) {
      max-width: 65vw;
    }
    @include respond(tab-port) {
      max-width: 50vw;
    }
  }

  &__rightside-clip0,
  &__rightside-clip1,
  &__rightside-clip2,
  &__rightside-clip3 {
    @include respond(tab-land) {
      transform: scaleX(0);
    }
  }
}
