.footer-pillars-image, .footer-trees-image {
    top: 0;
    position: absolute;
    z-index: -1;
}

/* Footer Pillars */
.footer-pillars-image {
    position: absolute;
    bottom: 0;
    right: 74px;
}

/* Footer Trees */
.footer-trees-image {
    position: absolute;
    left: 109px;
}