.day-three {
  &__schedule {
    display: block;
    padding-top: 6vh;
    padding-left: 10vw;
  }

  &__title {
    @include font-source-subheader(
      $size: 20px,
      $color: #646262,
      $weight: bold,
      $lineHeight: 30px,
      $letterSpace: 0.05em
    );
  }

  &__line-break {
    border: 1px solid #a6a6a6;
    margin-top: 2vh;
    margin-left: 0vw;
    margin-bottom: 2vh;
    width: 35vw;
  }

  &__events-container {
    padding-bottom: 12px;
  }

  &__events {
    margin-bottom: 4vh;
  }

  &__events-title {
    @include font-source-subheader(
      $size: 20px,
      $color: #424242,
      $weight: 600,
      $lineHeight: 30px,
      $letterSpace: 0.05em
    );
  }

  &__events-time {
    @include font-source-subheader(
      $size: 20px,
      $color: #424242,
      $weight: normal,
      $lineHeight: 30px,
      $letterSpace: 0.05em
    );
    float: right;
    margin-right: 10vw;
  }
}
