.welcome {
  &__container {
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 100%;
    text-align: center;
    min-height: 756px;
    padding-bottom: 6em;
    @include respond(tab-land) {
      height: unset;
      min-height: 696px;
    }
    @include respond(tab-port) {
      min-height: 796px;
    }
    @include respond(phone) {
      margin-top: -6em;
      padding-bottom: unset;
      min-height: 1536px;
    }
    @include respond(smallest) {
      margin-top: -10em;
    }
  }
  @import './text/title';
  @import './text/subtitle';
  @import './cards/cards';
}
