.about-view-container {
  @include flexBox();
  height: 50vh;
  width: 100vw;
  position: absolute;
  top: 100vh;
}

.about-laptop-container {
  @include svgContainer();
}

.about-laptop-image {
  @include svgContent();
}
