.about-view-container {
  @include flexBox();
  height: 50vh;
  width: 100vw;
  position: absolute;
  top: 100vh;
}

.about-laptop-container {
  @include svgContainer();
  top: 100vh;
  width: 100vw;
  height: 50vh;
}

.about-laptop-image {
  @include svgContent();
  top: 100vh;
}
