&__backdrop {
  position: relative;
  display: flex;
  justify-content: space-between;
}
&__squiggle {
  position: relative;
  height: 16em;
  right: -0.3em;
  @include respond(tab-port) {
    right: -0.7em;
    height: 13em;
  }
  @include respond(phone) {
    height: 8em;
    right: -1.5em;
  }
}
&__pillars {
  position: relative;
  width: calc(8em - 5%);
  @include respond(tab-port) {
    height: 16.5em;
    width: calc(6em - 3%);
  }
  @include respond(phone) {
    height: 10em;
    width: calc(4em - 2%);
  }
}
