.hero__container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  width: 100vw;
  // min-height: 813px;
  min-height: 100vh;
}

@include respond(phone) {
  div.hero-right-side-container {
    top: 3%;
  }

  div.hamburger {
    visibility: visible;
  }

  div.hero__mlh-badge {
    visibility: hidden;
  }

  div.hero__lightbulb {
    top: 1%;
  }

  div.hero__header {
    all: unset;
    position: absolute;
    top: 0;
    background-color: #ffffff;
    width: 100vw;
    height: 50px;
    box-shadow: 0 2px 6px #bfbfbf;
  }

  div.navigate-to-bottom-container {
    visibility: hidden;
  }

  div.hero-title-area {
    position: unset;
    position: absolute;
    left: unset;
    align-self: center;
    @include respond(smallest) {
      margin-top: -5em;
    }
  }

  div.hero-title-area__button {
    align-self: center;
  }
}
