/*
.welcome-title__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 10em;

    .welcome-title__header {
        align-self: flex-start;
        width: 100%;
        height: 30px;
        margin-bottom: 1.5em;
    }
    
    .welcome-title__caption {
        width: 75%;
    }
}
*/

.welcome-title__container {
    margin: 0 auto;
    margin-bottom: 10em;
}

.welcome-title__header {
    margin-bottom: 1.5em;
}

.welcome-title__text {
    display: flex;
    flex-direction: column;
}
