@font-face {
    font-family: AvenirBook;
    src: url('../../../../fonts/subheader/AvenirBook.woff');
}

@media all and (max-width: 960px) {

    div.welcome-title__container {
        margin-bottom: 1em;
    }

    h1.welcome-title__header {
        margin: 10px auto;
        padding-left: 10px;
    }

    h3.welcome-title__caption {
        padding-left: 10px;
    }
}

.welcome-title__container {
    align-items: center;
    margin: 0 auto;
    margin-bottom: 10em;
}

.welcome-title__header {

    font-size: 37px;
    font-family: Rubik;
    color: #2E2C5F;

    letter-spacing: 0.09em;
}

.welcome-title__caption {

    font-family:  AvenirBook;
    font-size: 22px;
    color: #767676;

    letter-spacing: 0.09em;
    margin: 0;
}

.welcome-title__text {
    display: flex;
    flex-direction: column;
}
