/* HeroNavButtonsContainer */

.navbar__button-container {
  order: 1;
  display: flex;
  flex-flow: row wrap;
  position: absolute;
  right: 159px;
}

.navbar__button {
  padding: 16px 30px 16px 30px;
}

.navbar__button__text {
  @include font-source-body(
    $size: 13px,
    $lineHeight: 16px,
    $letterSpace: 0.06em,
    $weight: bold,
    $color: #373737
  );
  text-align: center;
}

.navbar__button__text:hover {
  color: #ffffff;
  cursor: pointer;
}
