.homepage {
  &__container {
    position: relative;
    max-height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    @include respond(phone) {
      position: relative;
    }
  }

  &__title {
    position: absolute;
    top: 10vh;
    left: calc(22vw - 10vh);
    @include font-source-subheader(
      $size: 4em,
      $color: #ffffff,
      $weight: 600,
      $lineHeight: 80px,
      $letterSpace: 0.05em
    );
    @include responsive-font(3.1vw, 36px, 64px);

    @include respond(phone) {
      position: absolute;
      top: 6.5vh;
      left: 6.5vw;
    }
  }

  &__live-update-title,
  &__general-schedule-title,
  &__question-title {
    @include font-source-subheader(
      $size: 2.625em,
      $color: #5c68d7,
      $weight: bold,
      $lineHeight: 3.56em,
      $letterSpace: 0.05em,
      $fontStyle: normal
    );

    @include responsive-font(3.1vw, 28px, 64px);
    display: block;
    text-transform: uppercase;
    text-align: center;
  }

  &__live-update-blinker {
    height: 25px;
    width: 25px;
    background: #82d06f;
    border-radius: 50%;
    display: block;
    @keyframes blink {
      50% {
        color: transparent;
      }
    }
    animation: 1s blink infinite;
  }

  &__gen-schedule-card-container,
  &__updates-card-container,
  &__workshops-card-container,
  &__questions-card-container {
    display: block;
  }

  &__updates-card-container {
    top: -12vh;
    position: relative;
  }

  &__updates-card,
  &__gen-schedule-card,
  &__workshops-card {
    min-height: 413px;
    max-width: calc(45vw - 2vh);
    height: auto;
    background: #ffffff;
    box-shadow: 0px 2px 20px rgba(205, 205, 205, 0.5);
    border-radius: 12px;
    display: block;
    position: relative;
    left: 20vw;
    right: 20vw;
    margin-bottom: 51px;
  }
}

@import './question/question';
