.emergency-contact{
    &__container{
        @include cardContainer(); 
    }

    &__card{
        @include card(); 
    }

    &__title{
        @include cardTitle();
        max-width: 12em;
        padding-top: 1em;
        padding-bottom: 1em;
        margin: 0 auto;
        line-height: 60px;
    }

    &__police-title, &__fire-title, 
    &__jen-title, &__daniel-title{
        @include font-source-subheader(
            $size: 18px,
            $color: #424242,
            $weight: 600,
            $lineHeight: 30px,
            $letterSpace: 0.05em
        );
        @include responsive-font(1.4vw, 14px, 18px);
        display: block;
        font-style: bold;
        text-align: left;
        margin-left: calc(20px + 5vw);
        margin-right: calc(20px + 5vw);
    }

    &__police-number, &__fire-number,
    &__jen-number, &__daniel-number{
        @include font-source-subheader(
            $size: 18px,
            $color: #424242,
            $weight: normal,
            $lineHeight: 30px,
            $letterSpace: 0.05em
        );
        @include responsive-font(1.4vw, 14px, 18px);
        display: block;
        font-style: normal;
        text-align: left;
        margin-left: calc(20px + 5vw);
        margin-right: calc(20px + 5vw);
    }

    &__fire, &__jen, &__daniel, &__police{
        padding-bottom: 30px;
    }
}