.emergency-contact{
    &__container{
        @include cardContainer(); 
    }

    &__card{
        @include card(); 
    }

    &__title{
        @include cardTitle();
    }

    &__police-title, &__fire-title, 
    &__jen-title, &__daniel-title{
        @include font-source-subheader(
            $size: 18px,
            $color: #424242,
            $weight: 600,
            $lineHeight: 30px,
            $letterSpace: 0.05em
        );
        display: block;
        font-style: bold;
        text-align: left;
        margin-left: 150px;
        margin-right: 150px;
    }

    &__police-number, &__fire-number,
    &__jen-number, &__daniel-number{
        @include font-source-subheader(
            $size: 18px,
            $color: #424242,
            $weight: normal,
            $lineHeight: 30px,
            $letterSpace: 0.05em
        );
        display: block;
        font-style: normal;
        text-align: left;
        margin-left: 150px;
        margin-right: 150px;
    }

    &__fire, &__jen, &__daniel, &__police{
        padding-bottom: 30px;
    }
}