.emergency-contact{
    &__card{
        width: 914px;
        height: 520px; 
        background: #FFFFFF;
        box-shadow: 0px 2px 20px rgba(205, 205, 205, 0.5);
        border-radius: 12px;
        display: block;
        position: relative;
        left: 20vw;
        right: 20vw;
        margin-bottom: 51px;
    }

    &__title{
        @include font-source-subheader(
            $size: 2.625em,
            $color: #5C68D7,
            $weight: bold,
            $lineHeight: 3.56em,
            $letterSpace: 0.05em, 
            $fontStyle: normal
        );

        font-family: Avenir Next;
        display: block;
        text-transform: uppercase;
        text-align: center;
    }

    &__police-title, &__fire-title, 
    &__jen-title, &__daniel-title{
        @include font-source-subheader(
            $size: 18px,
            $color: #424242,
            $weight: 600,
            $lineHeight: 30px,
            $letterSpace: 0.05em
        );
        display: block;
        font-family: Avenir Next;
        font-style: bold;
        text-align: left;
        margin-left: 150px;
        margin-right: 150px;
    }

    &__police-number, &__fire-number,
    &__jen-number, &__daniel-number{
        @include font-source-subheader(
            $size: 18px,
            $color: #424242,
            $weight: normal,
            $lineHeight: 30px,
            $letterSpace: 0.05em
        );
        display: block;
        font-family: Avenir Next;
        font-style: normal;
        text-align: left;
        margin-left: 150px;
        margin-right: 150px;
    }

    &__fire, &__jen, &__daniel{
        margin-top: 30px;
    }
}