/* todo */

.about {
  /* placeholder styles */
}

.about__description {
  position: absolute;
}

.about__laptop {
  position: absolute;
}

.about__placeholder {
  position: absolute;
}

.about__subtitle{
  position: absolute;
}

.about__title {
  position: absolute;
}