/* todo 

.about {
  // placeholder styles
} 

*/

.about__description {
  position: absolute;
  width: 574;
  height: 154;
}

.about__laptop {
  position: absolute;
  width: 421;
  height: 446;
}

.about__placeholder {
  position: absolute;
  width: 89;
  height: 52;
}

.about__subtitle {
  position: absolute;
  width: 171;
  height: 15;
}

.about__title {
  position: absolute;
  width: 451;
  height: 21;
}