.workshop-schedule-two {
  &__container {
    position: relative;
    padding-top: 6vh;
    max-width: 55%;
    margin: 0 auto;
    @include respond(tab-land) {
      max-width: 65%;
    }
    @include respond(phone) {
      max-width: 75%;
    }
  }

  &__date {
    @include dayTitle;
  }

  &__line-break {
    border: 1px solid #a6a6a6;
    margin-top: calc(1vw + 1vh);
    margin-left: 0vw;
    margin-bottom: calc(1vw + 1vh);
  }

  &__events-container {
    padding-top: 12px;
    padding-bottom: 36px;
    height: 50vh;
    overflow: hidden;
  }

  &__events {
    margin-bottom: 4vh;
    display: flex;
    flex-direction: column;
  }

  &__event-title {
    @include EventTitle;
    @include respond(phone) {
      max-width: 10em;
    }
  }

  &__event-location {
    @include EventLocation;
  }

  &__event-difficulty {
    @include EventDifficulty;
  }

  &__event-time {
    @include WorkshopTime;
  }
}
