.workshop-schedule-two {
    &__container {
        position: relative;
        padding-top: 6vh;
        max-width: 55%;
        margin: 0 auto;
        @include respond(tab-land) {
            max-width: 65%;
        }
        @include respond(phone) {
            max-width: 75%;
        }
    }

    &__date {
        @include dayTitle;
    }

    &__line-break {
        border: 1px solid #a6a6a6;
        margin-top: calc(1vw + 1vh);
        margin-left: 0vw;
        margin-bottom: calc(1vw + 1vh);
    }

    &__events-container {
        padding-top: 12px;
        padding-bottom: 12px;
        height: 50vh;
        overflow: hidden;
    }

    &__events {
        margin-bottom: 4vh;
        display: flex;
        flex-direction: column;
    }

    &__event-title {
        @include font-source-subheader(
            $size: 20px,
            $color: #424242,
            $weight: normal,
            $lineHeight: 30px,
            $letterSpace: 0.05em
        );
        font-family: Avenir Next;
    }

    &__event-location {
        @include font-source-subheader(
            $size: 20px,
            $color: #696969,
            $weight: normal,
            $lineHeight: 30px,
            $letterSpace: 0.05em
        );
        font-family: Avenir Next;
    }

    &__event-difficulty {
        @include font-source-subheader(
            $size: 20px,
            $color: #A7A7A7,
            $weight: normal,
            $lineHeight: 30px,
            $letterSpace: 0.05em
        );
        font-family: Avenir Next;
    }

    &__event-time {
        @include eventTime;
    }
}