.titleBar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  position: relative;
  top: 0;
  height: 8em;

  &__titleBar-text-container {
    display: flex;
    top: 2em;
  }
  &__titleBar-title {
    order: 1;
  }
}
