.support-slack{
    &__card{
        width: 914px;
        height: 550px; 
        background: #FFFFFF;
        box-shadow: 0px 2px 20px rgba(205, 205, 205, 0.5);
        border-radius: 12px;
        display: block;
        position: relative;
        left: 20vw;
        right: 20vw;
        margin-bottom: 51px;
    }

    &__annoucements{
        @include font-source-subheader(
            $size: 22px,
            $color: #575757,
            $weight: bold,
            $lineHeight: 3.56em,
            $letterSpace: 0.05em, 
            $fontStyle: normal
        );
        margin-left: 50px;
        font-family: Avenir Next;
        text-transform: uppercase;
    }

    &__title{
        @include font-source-subheader(
            $size: 2.625em,
            $color: #5C68D7,
            $weight: bold,
            $lineHeight: 3.56em,
            $letterSpace: 0.05em, 
            $fontStyle: normal
        );

        font-family: Avenir Next;
        display: block;
        text-transform: uppercase;
        text-align: center;
    }

    &__description{
        @include font-source-subheader(
            $size: 18px,
            $color: #424242,
            $weight: normal,
            $lineHeight: 30px,
            $letterSpace: 0.05em
        );
        display: block;
        font-family: Avenir Next;
        font-style: normal;
        text-align: left;
        margin-left: 150px;
        margin-right: 150px;
        margin-bottom: 60px;
    }

    &__link{
        padding: 20px;
        background: #45C899;
        border-radius: 7px;
        text-align: center;
        display: block;
        margin-top: 120px;
        margin-left: 60px;
        margin-right: 60px;
        margin-bottom: 15px;
        text-decoration: none;

        @include font-source-subheader(
            $size: 18px,
            $color: #ffffff,
            $weight: 600,
            $lineHeight: 25px,
            $letterSpace: 0.05em
        );
    }

    &__link:hover{
        background: #32AA7F;
    }
}