.faq {
  &__container {
    @include flexBox();
    text-align: center;
    position: relative;
    height: fit-content;
    height: 796px;
    z-index: 2;
    @include respond(tab-port) {
      height: 596px;
      padding-bottom: 4em;
    }
    @include respond(smallest) {
      padding-top: 5em;
    }
  }
  @import './container/container';
}
