.footer-view-container {
  margin: 6em 1em 2em 1em;
  position: relative;

  min-height: 496px;

  top: 150px;

  @include respond(desktop) {
    min-height: 696px;
  }

  @include respond(mission) {
    min-height: 706px;
  }
  /*
  @include respond(tab-land) {
    min-height: 546px;
  }

  @include respond(tab-port) {
    min-height: 516px;
  } */
}

.footer-view-content__container {
  position: absolute;
  width: 100vw;
  bottom: 0.5%;
}
