/* HeroHeader */

.hero__header {
  display: flex;
  flex-flow: row nowrap;
  width: 100vw;
}

/* Hero Hamburger */

.hamburger {
  @include svgContainer();
  width: 24px;
  height: 15px;
  position: absolute;
  right: 5%;
  top: 30%;
  visibility: hidden;

  &__svg {
    @include svgContent();
  }
}

/* HeroLightbulb */

.hero__lightbulb {
  order: 0;
  @include svgContainer();
  width: 55px;
  height: 40px;
  position: absolute;
  left: 0.1%;
  top: 0.1%;
}

.lightbulb__svg {
  @include svgContent();
}
