/* HeroHeader */

.hero__header {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  position: relative;
  top: 0;
  z-index: 5;
  height: 11vh;
  // background-color: #ffffff;
  // box-shadow: 0 2px 6px #bfbfbf;
}

/* Hero Hamburger */

.hamburger {
  @include svgContainer();
  width: 24px;
  height: 15px;
  position: absolute;
  right: 5%;
  top: 30%;
  visibility: hidden;

  &__svg {
    @include svgContent();
  }
}

/* HeroLightbulb */

.hero__lightbulb {
  cursor: pointer;
  order: 0;
  @include svgContainer();
  width: 80px;
  height: 60px;
  position: absolute;
  top: 0.5em;
  left: 0.25em;
  z-index: 5;
  @include respond(phone) {
    margin: unset;
  }
}

.lightbulb__svg {
  @include svgContent();
}
