.sponsors-backdrop__container {
    position: relative;
    min-height: 786px;

    @include respond(tab-land) {
        min-height: 586px;
    }
}

/*
@media all and (min-width: 1368px) {
    div.sponsors-backdrop__container {
        min-height: 786px;
    }
}
*/