.day-one {
  &__schedule {
    display: block;
    padding-top: 6vh;
    padding-left: 10vw;
  }

  &__title {
    @include dayTitle;
  }

  &__line-break {
    border: 1px solid #a6a6a6;
    margin-top: 2vh;
    margin-left: 0vw;
    margin-bottom: 2vh;
    width: 80%;
  }

  &__events-container {
    padding-bottom: 12px;
    position: relative;
    max-width: 80%;
  }

  &__events {
    margin-bottom: 4vh;
  }

  &__events-title {
    @include dayTitle;
  }

  &__events-time {
    @include eventTime;
  }
}
