.footer-backdrop__container {
    @include flexBox();
    position: relative;
    min-height: 566px;
}

@media all and (min-width: 1368px) {
    div.footer-backdrop__container {
        min-height: 766px;
    }
}

/* SVGs */
.footer-backdrop-extended__image,
.footer-backdrop-pillars__image,
.footer-backdrop-trees__image {
    position: absolute;
}

.footer-backdrop-extended__image {
    bottom: 45px;
    width: 100%;
}

.footer-backdrop-pillars__image {
    top: 78px;
    right: 74px;
}

.footer-backdrop-trees__image {
    top: 42px;
    left: 126px;
}