.welcome-backdrop__container {
    @include flexBox();
    position: relative;
    min-height: 1596px;

    /*
    @include respond(tab-land) {
        min-height: 896px;
    }
    */
}

/* SVGs */
.welcome-backdrop-mountain__image,
.welcome-backdrop-pillars__image,
{
    align-self: center;
    position: absolute;
}

.welcome-backdrop-mountain__image {
    bottom: -5%;

    @include respond(phone) {
        display: none;
    }

    @include respond(tab-land) {
        bottom: 0;
    }
}
.welcome-backdrop-mountain-mobile__image {

    position: absolute;
    display: none;
    bottom: -3.5%;

    @include respond(phone) {
        display: initial;
    }

}

.welcome-backdrop-pillars__image {
    z-index: -1;
    max-width: 78%;
    height: auto;
    top: -13%;

    @include respond(phone) {
        display: none;
    }

}

.welcome-backdrop-pillars-mobile__image {
    z-index: -1;
    display: none;
    max-width: 99%;
    position: absolute;
    height: auto;
    top: -3%;

    @include respond(phone) {
        display: initial;
    }
}
