.welcome-backdrop {
  &__container {
    @include flexBox();
    position: relative;

    min-height: 896px;

    @include respond(tab-land) {
      bottom: 355em;
    }
    @include respond(phone) {
      bottom: 309.5em;
      min-height: 1596px;
    }
  }
  /* SVGs */
  &__mountain-image,
  &__pillars-image {
    align-self: center;
    position: absolute;
  }
  &__mountain-image {
    bottom: 100px;
    max-width: 100%;
    max-height: 1000px;
    object-fit: scale-down;
    z-index: 1;
    @include respond(phone) {
      display: none;
    }

    @include respond(big-desktop) {
      bottom: -400px;
    }
    @include respond(desktop) {
      bottom: -320px;
    }
    @include respond(mission) {
      bottom: -100px;
    }
    @include respond(tab-land) {
      bottom: 3450px;
    }
    @include respond(tab-port) {
      bottom: 3550px;
    }
  }
  &__mountain-mobile-image {
    position: absolute;
    display: none;
    top: -3200px;
    background-position: center 0;
    @include respond(phone) {
      display: initial;
      object-fit: fill;
    }
    @include respond(phone-narrow) {
      bottom: -10em;
    }
  }
  &__pillars-image {
    z-index: -1;
    max-width: 78%;
    height: auto;
    top: -8%;
    position: absolute;
    @include respond(tab-land) {
      top: -2550px;
    }
    @include respond(tab-port) {
    }
    @include respond(phone) {
      top: -3050px;
      max-width: 100vw;
    }
    @include respond(smallest) {
      top: -3100px;
    }
  }
}
