.footer-backdrop__container {
  @include flexBox();
  position: sticky;
  margin-top: -80em;
  @include respond(desktop) {
  }
  @include respond(mission) {
  }
  @include respond(tab-land) {
  }
  @include respond(tab-port) {
  }
  @media (max-width: 735px) {
  }
  @include respond(phone) {
  }
}

/* SVGs */
.footer-backdrop-extended__image,
.footer-backdrop-trees__image {
  position: static;
}

.footer-backdrop-extended__image {
  object-fit: scale-down;
  @media (max-width: 681px) {
    display: none;
  }
}

.background-footer-mobile__image {
  position: absolute;
  display: none;

  height: auto;
  width: 100%;

  @media (max-width: 681px) {
  }
}
