.footer-backdrop__container {
  @include flexBox();
  position: sticky;
  margin-top: -105em;
  bottom: 0;
  @include respond(big-desktop) {
    margin-top: -88em;
  }
  @media screen and (max-width: 1682px) {
    margin-top: -90em;
  }
  @media screen and (max-width: 1456px) {
    margin-top: -85em;
  }
  @include respond(mission) {
    margin-top: -72em;
  }
  @include respond(tab-land) {
    margin-top: -67.5em;
  }
  @media screen and (max-width: 977px) {
    margin-top: -94.5em;
    width: 170%;
    margin-right: 20%;
  }
  @include respond(tab-port) {
    margin-top: -88.5em;
  }
  @media screen and (max-width: 780px) {
    margin-top: -83em;
  }
  @include respond(phone) {
    margin-top: -56.5em;
  }
  @include respond(phone-narrow) {
    margin-top: -60.5em;
  }
  @media screen and (max-width: 494px) {
    margin-top: -55.5em;
  }
  @include respond(smallest) {
    margin-top: -40.5em;
  }
  @media screen and (max-width: 394px) {
    margin-top: -33em;
  }
}

/* SVGs */
.footer-backdrop-extended__image,
.footer-backdrop-trees__image {
  position: static;
}

.footer-backdrop-extended__image {
  object-fit: scale-down;
}

.background-footer-mobile__image {
  position: absolute;
  display: none;

  height: auto;
  width: 100%;

  @media (max-width: 681px) {
  }
}
