.footer-backdrop__container {
  @include flexBox();
  position: sticky;
  margin-top: -92em;
  @include respond(desktop) {
  }
  @include respond(mission) {
    margin-top: -70em;
  }
  @include respond(tab-land) {
    margin-top: -58em;
  }
  @include respond(tab-port) {
    margin-top: -65em;
  }
  @include respond(phone) {
    margin-top: -45em;
  }
  @include respond(phone-narrow) {
    margin-top: -43em;
    z-index: -1;
  }
  @include respond(smallest) {
    margin-top: -34em;
  }
  @media screen and (max-width: 394px) {
    margin-top: -24.85em;
  }
  @media screen and (max-width: 354px) {
    margin-top: -23em;
  }
}

/* SVGs */
.footer-backdrop-extended__image,
.footer-backdrop-trees__image {
  position: static;
}

.footer-backdrop-extended__image {
  object-fit: scale-down;
}

.background-footer-mobile__image {
  position: absolute;
  display: none;

  height: auto;
  width: 100%;

  @media (max-width: 681px) {
  }
}
