// Call To Action Styles
.cta-backdrop__container {
    @include flexBox();
    position: relative;
    min-height: 886px;

    @include respond(tab-land) {
        min-height: 686px;
    }
}

/* SVGs */
.cta-backdrop__image {
    position: absolute;
    max-width: 36.5%;
    height: auto;
    top: 1%;
    right: 0;

    @include respond(phone) {
        display: none;
    }
}

.cta-backdrop-mobile__image {

    position: absolute;
    right: 0;

    display: none;

    @include respond(phone) {
        display: initial;
    }
}