&__announcements {
  margin: auto;
}

&__announcements-container {
  width: 45vw;
}

&__announcements-styletext {
  position: absolute;
  left: 3em;
  top: 0;
  top: 3.5em;
  left: -6.3em;
  font-family: 'Rubik Regular';
  font-weight: 600;
  font-size: 44px;
  line-height: 43px;
  letter-spacing: 0.07em;
  text-indent: 3px;
  color: #ffffff;
  text-shadow: -2px 0 #5252e2, 0 2px #5252e2, 2px 0 #5252e2, 0 -2px #5252e2;
  transform: rotate(-90deg);
}

&__announcements-event-text {
  @include font-source-body(
    20px,
    19px,
    0.04em,
    3px,
    center,
    normal,
    500,
    #5252e2
  );
  display: table-cell;
  vertical-align: middle;
}

&__announcements-box {
  right: 0;
  background: #ffffff;
  height: 60vh;
  width: 45vw;
  position: relative;
  display: table;
}

&__announcements-box::after {
  content: '';
  margin: auto;
  top: -2.5em;
  left: -2em;
  height: 60vh;
  width: 45vw;
  background: #6f6fe8;
  position: absolute;
  z-index: -1;
}
