@import './backdrop/hero/hero';
@import './backdrop/about/about';
@import './backdrop/welcome/welcome';
@import './backdrop/stats/stats';
@import './backdrop/retrospective/retrospective';
@import './backdrop/cta/cta';
@import './backdrop/faq/faq';
@import './backdrop/sponsors/sponsors';
@import './backdrop/footer/footer';
@import './footer/footer';

.background__container {
  position: absolute;
  min-width: 100%;
  z-index: 0;
  overflow: hidden;
}
