/* Demographics related stuff */
.demographics {
  font-family: 'Rubik Regular';
  font-weight: 600;
  position: relative;
  top: 15vh;
  max-width: 60vw;
  margin: 0 auto;
  color: #4a38f2;

  // labels
  &__first-name {
    float: left;
    margin-right: 1.4vw;
  }
  &__last-name {
    float: left;
  }

  &__age {
    float: left;
    margin-right: 10vw;
  }

  &__gender {
    float: left;
  }

  /* Gender form section */
  &__other-gender {
    display: inline-block;
  }

  &__gender-label {
    margin-right: 1vw;
  }

  &__label {
    margin-bottom: 1.1vh;
    display: block;
  }
}
// inputs
#first-name__input,
#last-name__input {
  border-width: 0;
  border: none;
  background-color: #f4f4f4;
  display: block;
  height: 40px;
  width: 29.2vw;
  font-size: 28px;
}

#email__input,
#password__input {
  border-width: 0;
  border: none;
  background-color: #f4f4f4;
  display: block;
  height: 40px;
  width: 60vw;
  font-size: 28px;
}

#age__input {
  border-width: 0;
  border: none;
  background-color: #f4f4f4;
  display: block;
  height: 40px;
  width: 9vw;
  font-size: 28px;
}

#other__input {
  border-width: 0;
  border: none;
  background-color: #f4f4f4;
  height: 40px;
  width: 8vw;
  font-size: 28px;
}

.email-section,
.password-section {
  margin: 3vh 0;
}
