/* Demographics related stuff */
.demographics {
  font-family: 'Rubik Regular';
  font-weight: 600;
  position: relative;
  top: 7vh;
  max-width: 60vw;
  margin: 0 auto;
  color: #4a38f2;

  &__header {
    @include header;
  }
  &__header::before {
    @include header-underline(8.25em);
  }
  // labels
  &__first-name {
    float: left;
    margin-right: 1.4vw;
  }
  &__last-name {
    float: left;
  }

  &__age {
    float: left;
    //margin-right: 13vw;
  }

  &__gender {
    float: right;
  }

  /* Gender form section */
  &__other-gender {
    display: inline-block;
  }

  &__gender-label {
    margin-right: 1vw;
  }

  &__label {
    margin-bottom: 1.1vh;
    display: block;
  }

  // education related
  &__yog {
    float: left;
    margin-right: 4vw;
  }
  &__ucsc-student {
    float: left;
  }
  &__college-affil {
    float: right;
  }

  // major
}
// inputs
#first-name__input,
#last-name__input {
  border-width: 0;
  border: none;
  background-color: #f4f4f4;
  display: block;
  height: 40px;
  width: 29.2vw;
  font-size: 28px;
}

#email__input,
#password__input,
#major__input,
#linkedin__input,
#github__input,
#resume__input {
  border-width: 0;
  border: none;
  background-color: #f4f4f4;
  display: block;
  height: 40px;
  width: 60vw;
  font-size: 28px;
}

#age__input {
  border-width: 0;
  border: none;
  background-color: #f4f4f4;
  display: block;
  height: 40px;
  width: 9vw;
  font-size: 28px;
}

#other__input {
  border-width: 0;
  border: none;
  background-color: #f4f4f4;
  height: 40px;
  width: 12vw;
  font-size: 28px;
}

#yog__input {
  border-width: 0;
  border: none;
  background-color: #f4f4f4;
  height: 40px;
  width: 11.5vw;
  font-size: 28px;
}

input[type='radio'] {
  width: 17px;
  height: 17px;
  border: 3px solid #5252e2;
}

.email-section,
.password-section,
.age-gender-section,
.edu-demographics-section,
.major-section,
.linkedin-section,
.github-section,
.resume-section {
  margin: 3vh 0;
}
