/* Demographics related stuff */
.demographics {
  font-family: 'Rubik Regular';
  font-weight: 600;
  position: relative;
  top: 7vh;
  max-width: 60vw;
  margin: 0 auto;
  color: #4a38f2;

  &__header {
    @include header;
  }
  &__header::before {
    @include header-underline(8.25em);
  }
  // labels
  &__first-name {
    float: left;
    margin-right: 1.4vw;
    padding-bottom: 1.5em;
  }
  &__last-name {
    float: left;
  }

  &__age {
    float: left;
    padding-right: 2em;
    //margin-right: 13vw;
  }

  &__gender {
    float: right;
    padding-right: 1em;
    @media screen and (max-width: 1589px) {
      padding-top: 1.5em;
      padding-bottom: 0.75em;
      float: left;
    }
  }

  /* Gender form section */
  &__other-gender {
    display: inline-block;
    font-weight: 500;
    padding: 0 0 0 0.9em;
  }

  &__gender-label {
    margin-right: 1vw;
  }

  &__label {
    margin-bottom: 1.1vh;
    display: block;
  }

  &__ethnicity {
    @media screen and (max-width: 1762px) {
      padding-bottom: 1.5em;
      float: left;
    }
  }

  // education related
  &__yog {
    float: left;
    margin-right: 4vw;
  }
  &__ucsc-student {
    float: left;
    @media screen and (max-width: 530px) {
      padding-top: 1.5em;
    }
  }
  &__college-affil {
    float: right;
  }
  &__currSchool {
    float: left;
    margin-right: 4vw;
  }
  // major
}

// inputs
#first-name__input,
#last-name__input {
  border-width: 0;
  // border: none;
  background-color: #f4f4f4;
  display: block;
  height: 40px;
  width: 29.2vw;
  font-size: 18px;
}

#email__input,
#school__input,
#password__input,
#phone-number__input,
#major__input,
#linkedin__input,
#github__input {
  border-width: 0;
  border: none;
  background-color: #f4f4f4;
  display: block;
  height: 40px;
  width: 60vw;
  font-size: 18px;
}

#resume__input {
  border-width: 0;
  border: none;
  display: block;
  font-size: 18px;
  max-width: 14em;
}

#age__input {
  border-width: 0;
  border: none;
  background-color: #f4f4f4;
  display: block;
  height: 40px;
  width: 9vw;
  font-size: 18px;
}

#other__input {
  border-width: 0;
  border: none;
  background-color: #f4f4f4;
  height: 40px;
  width: 12vw;
  font-size: 18px;
}

#yog__input {
  border-width: 0;
  border: none;
  background-color: #f4f4f4;
  height: 40px;
  width: 11.5vw;
  font-size: 18px;
}

.currSchool__input {
  border-width: 0;
  border: none;
  background-color: #f4f4f4;
  display: block;
  height: 40px;
  width: 60vw;
  font-size: 16px;
  color: #4a38f2;
  margin-bottom: 2.5vh;
  letter-spacing: 0.04em;
  text-indent: 3px;
  font-weight: 500;
}

// .collegeAffiliation__input {
//   border-width: 0;
//   border: none;
//   background-color: #f4f4f4;
//   height: 40px;
//   width: 29.2vw;
//   font-size: 16px;
//   color: #4A38F2;
//   margin-bottom: 2.5vh;
//   letter-spacing: 0.04em;
//   text-indent: 3px;
//   font-weight: 500;
// }

input[type='radio'] {
  width: 17px;
  height: 17px;
  border: 3px solid #5252e2;
}

.email-section,
.password-section,
.age-gender-section,
.edu-demographics-section,
.major-section,
.linkedin-section,
.github-section,
.resume-section,
.phone-section {
  margin: 2.5vh 0;
}

.errors {
  margin-top: 0.6em;
  margin-bottom: 0;
  color: red;
}

.info {
    margin-top: 0.6em;
    margin-bottom: 0;
    color: #5252e2;
  }
