&__join-container {
  width: 100vw;
}
&__join-title-container {
  margin: 0 35.42% 0 12.07%;
}
&__join-title {
  @include font-source-header(
    $size: 35px,
    $color: #2e2c5f,
    $weight: bold,
    $lineHeight: 41px,
    $letterSpace: 0.04em
  );
  text-indent: 3px;

  color: #2e2c5f;
  mix-blend-mode: normal;
}
&__join-description-container {
  margin: 2% 44.01% 0 12.33%;
  white-space: nowrap;
}
&__join-description {
  font-family: SofiaProSoftW01-Regular;
  font-size: 16px;
  line-height: 12px;

  letter-spacing: 0.02em;

  color: #383636;
}
