.welcome-backdrop__container {
    @include flexBox();
    position: relative;
    min-height: 896px;
}

/* SVGs */
.welcome-backdrop-mountain__image,
.welcome-backdrop-pillars__image {
    align-self: center;
    position: absolute;
}

.welcome-backdrop-mountain__image {
    bottom: 0;
}

.welcome-backdrop-pillars__image {
    z-index: -1;
    max-width: 78%;
    height: auto;
    top: -13%;
}

@media all and (min-width: 1368px) {

    div.welcome-backdrop__container {
        min-height: 1096px;
    }

    svg.welcome-backdrop-mountain__image {
        bottom: -5%;
    }
}
