.mlhcoc-support{
    &__container {
        @include cardContainer(); 
    }

    &__card {
        @include card(); 
    }

    &__title {
        @include cardTitle();
        max-width: 12em;
        padding-top: 1em;
        padding-bottom: 1em;
        margin: 0 auto;
        line-height: 60px;
    }

    &__description{
        @include font-source-subheader(
            $size: 18px,
            $color: #424242,
            $weight: normal,
            $lineHeight: 30px,
            $letterSpace: 0.05em
        );
        display: block;
        font-style: normal;
        text-align: center;
        margin-top: 50px;
        margin-left: calc(20px + 5vw);
        margin-right: calc(20px + 5vw);
        margin-bottom: 60px;
    }

    &__link{
        padding: 20px;
        background: #45C899;
        border-radius: 7px;
        text-align: center;
        display: block;
        margin-left: 60px;
        margin-right: 60px;
        margin-bottom: 15px;
        text-decoration: none;

        @include font-source-subheader(
            $size: 18px,
            $color: #ffffff,
            $weight: 600,
            $lineHeight: 25px,
            $letterSpace: 0.05em
        );
    }

    &__link:hover{
        background: #32AA7F;
    }

    &__button-container {
        padding-bottom: 12px;
      }
}