&__appstatus-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  z-index: -1;
  position: relative;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  // with this^^ the application is always just below the current viewheight
  // continued from above : we could even include the application banner as part of this div

  // padding: 15% 0 15% 0; // adjust these % as you see fit. It looks weird with too much space in mobile
  // the padding can be turned on if you change height to height: 0vh; And you comment out the announcements box
  background-color: #f2f0ff;
}

&__appstatus {
  margin: auto;
  background: #6f6fe8;
  border-radius: 30px;
  width: 45vw;
  height: 60px;
  display: table;
}

&__appstatus-text {
  display: table-cell;
  vertical-align: middle;
  font-family: 'Rubik Regular';
  font-weight: 500;
  color: white;
  letter-spacing: 0.05em;
  text-align: center;
}
