.postLanding {
  &__container {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
}
@mixin postLandingTitle {
  @include font-source-header(
    $size: 27px,
    $lineHeight: 32px,
    $letterSpace: 0.02em,
    $textIndent: 0px,
    $textAlign: center,
    $fontStyle: false,
    $weight: bold,
    $color: #2e2c5f
  );
  font-family: 'Rubik Bold';
  display: block;
  text-align: center;
  margin: 0 auto;
  padding-bottom: calc(2vh - 0.5em);
  min-width: 15.5em;
  @include responsive-font(3.1vw, 18px, 27px);
}
@import './hero/hero';
@import './about/about';
@import './stats/stats';
@import './info/info';
@import './projects/projects';
@import './winners/winners';
@import './news/news';
@import './photos/photos';
@import './cta/cta';
@import './share/share';
