.about-backdrop {
  &__container {
    @include flexBox();
    position: sticky;
    min-height: 596px;

    @include respond(tab-land) {
      min-height: 696px;
    }
  }

  /* SVGs */
  &__laptop-image,
  &__pillars-image {
    position: absolute;
  }

  &__laptop-image {
    top: 1%;
    left: 0;
    /*
    width: 420px;
    height: 446px;
    */

    width: 30em;
    height: auto;
    @include respond(big-desktop) {
      width: 30em;
    }
    @include respond(desktop) {
      max-width: 28%;
    }
    @include respond(tab-land) {
      top: 2%;
      max-width: 37%;
    }
    @include respond(phone) {
      max-width: 55%;
    }
  }
}
