.about-backdrop {
  &__container {
    @include flexBox();
    position: relative;
    min-height: 796px;

    @include respond(tab-land) {
      min-height: 1100vh;
    }
  }

  /* SVGs */
  &__laptop-image,
  &__pillars-image {
    position: absolute;
  }

  &__laptop-image {
    top: 1%;
    left: 0;
    /*
    width: 420px;
    height: 446px;
    */

    max-width: 36%;
    height: auto;

    @include respond(phone) {
      max-width: 55%;
      top: 2%;
    }
  }
}
