.about-backdrop__container {
  @include flexBox();
  position: relative;
  min-height: 796px;

  @include respond(tab-land) {
    min-height: 596px;
  }
}

/* SVGs */

.about-backdrop-laptop__image,
.about-backdrop-pillars__image {
  position: absolute;
}

.about-backdrop-laptop__image {
  top: 1%;
  left: 0;

  /*
    width: 420px;
    height: 446px;
    */

  max-width: 36%;
  height: auto;

  @include respond(phone) {
    max-width: 55%;
  }
}
