/* HeroNavButtonsContainer */

.navbar__button-container {
  order: 1;
  display: flex;
  flex-flow: row wrap;
  position: absolute;
  top: 0;
  right: 159px;
}

.navbar__button {
  padding: 16px 30px 16px 30px;
}

.navbar__button__text {
  font-family: SofiaProSoftW01-Regular;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.06em;
  text-align: center;
}

.navbar__button__text:hover {
  color: #ffffff;
  cursor: pointer;
}
