&__left-backdrop {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 2.2em;
}

&__right-backdrop {
  z-index: -1; 
  position: absolute;
  height: 50em;
  top: 2em;
  @include respond(tab-land) {
    right: -10%;
    height: 45em;
  }
}

// hide top backdrop pillar on small screens
&__right-backdrop--topHidden {
  @include respond(tab-land) {
      visibility: hidden;
  }
}