.about-backdrop__container {
    @include flexBox();
    position: relative;
    min-height: 596px;
}

/* SVGs */

.about-backdrop-laptop__image,
.about-backdrop-pillars__image {
    position: absolute;
}


.about-backdrop-laptop__image {
    top: 64px;
    left: 0;

    width: 420px;
    height: 446px;
}

.about-backdrop-pillars__image {
    top: -92px;
    right: 70px;
}