&__linkedin-links-container {
  display: flex;
  flex-direction: column;
  width: 28em;
  height: 28em;
  padding-bottom: calc(2em + 1vw);
  padding-left: 1em;
  position: relative;
}

&__category-name {
  @include postLandingTitle;
  text-align: justify;
  text-indent: 15px;
  margin-left: 0;
  // this might need responsive units
  margin-bottom: 0.25em;
}

&__winner-name {
  display: inline-block;
  @include font-source-header(
    $size: 1.12em,
    $color: #afafaf,
    $weight: bold,
    $lineHeight: 20px,
    $textIndent: 1em,
    $letterSpace: 0.02em
  );
}

&__linkedin-logo {
  margin: 1.72em 1em 0 1em;
  padding: calc((3% - 0.2em));
  display: inline-block;
  border-radius: 100%;
  background: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, background 0.5s ease;

  &:hover {
    transform: translateY(-0.25vh);
    background: lighten($color: #fff, $amount: 10%);
  }
}
