&__title {
  @include font-source-header(
    $size: 1.6em,
    $color: #2e2c5f,
    $weight: bold,
    $lineHeight: 34px,
    $letterSpace: 0.05em
  );
  @include responsive-font(3.1vw, 0.9em, 1.6em);
  font-family: Rubik Bold;
  display: block;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  padding-bottom: 0.25em;
  word-wrap: break-word;
}

&__divider {
  border: 1px solid #2e2c5f;
  display: block;
  width: 30em;
  margin: 1vw auto 1vw;
  @include respond(phone) {
    width: 25em;
  }
  @include respond(phone-narrow) {
    width: 20em;
  }
  @include respond(smallest) {
    width: 15em;
  }
}

&__boxContainer {
  @include flexBox();
  position: relative;
  flex-direction: column;
}
