@mixin logosContainer {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 0 auto;
  flex-wrap: wrap;
  position: relative;
}
&__title {
  @include font-source-header(
    $size: 1.6em,
    $color: #262626,
    $weight: bold,
    $lineHeight: 34px,
    $letterSpace: 0.05em
  );
  @include responsive-font(3.1vw, 0.9em, 1.6em);
  font-family: Rubik Bold;
  display: block;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  word-wrap: break-word;
}

&__divider {
  border: 2px solid #2e2c5f;
  display: block;
  width: 30em;
  margin: 22px auto 49px;
  @include respond(phone) {
    width: 25em;
  }
  @include respond(phone-narrow) {
    width: 20em;
  }
  @include respond(smallest) {
    width: 15em;
  }
}

&__logos-tera {
  @include logosContainer;
}

&__logos-giga {
  @include logosContainer;
}

&__logos-kilo {
  @include logosContainer;
}

&__logos-mega {
  @include logosContainer;
  align-self: center;
  max-width: 80%;
}
&__boxContainer {
  @include flexBox();
  position: relative;
  flex-direction: column;
}
