&__title{
    @include font-source-header( 
    $size: 2.4em,
    $color: #262626,
    $weight: bold,
    $lineHeight: 34px,
    $letterSpace: 0.05em
    ); 
    font-family: Rubik Bold;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    margin-left: 12%;
    @include responsive-font(4vw, 1.8em, 2.4em);
}

&__divider{
    border: 2px solid #2E2C5F;
    display: block;
    width: 30em; 
    margin: 22px auto 49px; 
}

&__logos{
    display: block;
    margin: 0 auto; 
}

&__boxContainter{
    @include flexBox(); 
}
