&__box{
    top: 100vh;
    display: inline-block;
    position: sticky;
    max-height: 39em; 
    max-width: 51em; 
    height: 60vh; 
    width: 80vw; 
    background: #FFFFFF;
    border: 4px solid #7171CB;
    box-sizing: border-box;
    border-radius: 77px;
}

&__questions{
    
}
