/* _base.scss */

// ============================================================================
// Global Styles
// ============================================================================

body {
  margin: 0;
  background-color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-root {
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
}

/* Mixins */

@import './mixins.scss';

/* Landing Styles */

@import './components/landing/landing';
@import './components/landing/hero/hero';
@import './components/landing/hero/backdrop/backdrop';
@import './components/landing/hero/header/header';
@import './components/landing/hero/navbar/navbar';
@import './components/landing/hero/title-area/title-area';

/* About Styles */

@import './components/about/about';
@import './components/about/backdrop/backdrop';
