/* _base.scss */

// ============================================================================
// Global Styles
// ============================================================================

body {
  margin: 0;
  box-sizing: border-box;
  background-color: #ffffff;
}

#root {
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Mixins */

@import './mixins.scss';

/* Landing Styles */

@import './components/landing/landing';
@import './components/landing/hero/hero';
@import './components/landing/hero/backdrop/backdrop';
@import './components/landing/hero/header/header';
@import './components/landing/hero/header/navbar/navbar';
@import './components/landing/hero/title-area/title-area';

/* About Styles */

@import './components/about/about';
@import './components/about/backdrop/backdrop';


/* Welcome Styles */
@import './components/welcome/welcome';
@import './components/welcome/backdrop/backdrop';
@import './components/welcome/cards/cards';
@import './components/welcome/title/title';


/* Footer Styles */
@import './components/footer/footer';
@import './components/footer/backdrop/backdrop';
@import './components/footer/text/text';
@import './components/footer/buttons/buttons';