/* Header font */
@font-face {
  font-family: 'Rubik';

  /* IE9*/
  src: url('../fonts/header/Rubik.eot');

  /* IE6-IE8 */
  src: url('../fonts/header/Rubik.eot?#iefix') format('embedded-opentype'),
    /* chrome、firefox */ url('../fonts/header/Rubik.woff2') format('woff2'),
    /* chrome、firefox */ url('../fonts/header/Rubik.woff') format('woff'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('../fonts/header/Rubik.ttf') format('truetype'),
    /* iOS 4.1- */ url('../fonts/header/Rubik.svg#Rubik') format('svg');
}

/* Subheader font */
@font-face {
  font-family: 'AvenirBook';
  /* IE9*/
  src: url('../fonts/subheader/AvenirBook.eot');
  /* IE6-IE8 */
  src: url('../fonts/subheader/AvenirBook.eot?#iefix')
      format('embedded-opentype'),
    /* chrome、firefox */ url('../fonts/subheader/AvenirBook.woff2')
      format('woff2'),
    /* chrome、firefox */ url('../fonts/subheader/AvenirBook.woff')
      format('woff'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('../fonts/subheader/AvenirBook.ttf') format('truetype'),
    /* iOS 4.1- */ url('../fonts/subheader/AvenirBook.svg#Avenir Book')
      format('svg');
}

/* Body font */
@font-face {
  font-family: 'SofiaProSoftW01-Regular';

  /* IE9*/
  src: url('../fonts/body/SofiaProSoftW01-Regular.eot');

  src: 
    /* IE6-IE8 */ url('../fonts/body/SofiaProSoftW01-Regular.eot?#iefix')
      format('embedded-opentype'),
    /* chrome、firefox */ url('../fonts/body/SofiaProSoftW01-Regular.woff2')
      format('woff2'),
    /* chrome、firefox */ url('../fonts/body/SofiaProSoftW01-Regular.woff')
      format('woff'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('../fonts/body/SofiaProSoftW01-Regular.ttf') format('truetype'),
    /* iOS 4.1- */
      url('../fonts/body/SofiaProSoftW01-Regular.svg#SofiaProSoftW01-Regular')
      format('svg');
}
