.liveCard{
    &__container{
        display: block;
    }

    &__box{
        min-height: 413px;
        max-width: 913px;
        height: auto;
        background: #FFFFFF;
        box-shadow: 0px 2px 20px rgba(205, 205, 205, 0.5);
        border-radius: 12px;
        display: block;
        position: relative;
        left: 20vw;
        right: auto;

        @include respond(phone){
            width: 315px;
            max-height: 619px;
            min-height: 363px;
            right: 4vw;
            left: 4vw; 
            align-content: center;
        }
    }
}