.cta-backdrop-container {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100%;
  z-index: -1;
}

.porter-squiggle-container {
  @include svgContainer();
  width: 33%;
  position: absolute;
  right: 0;
  top: 22%;

  &__svg {
    @include svgContent();
  }
}

.pillar1-container {
  @include svgContainer();
  width: 5%;
  position: absolute;
  right: 19%;
  top: 0%;
  z-index: -2;

  &__svg {
    @include svgContent();
  }
}

.pillar2-container {
  @include svgContainer();
  width: 5%;
  position: absolute;
  right: 7%;
  top: 8%;
  z-index: -2;

  &__svg {
    @include svgContent();
  }
}

// .cta-pillars {
//   position: absolute;
//   top: 0;
//   right: 0;

//   &__pillar1-container {
//     @include svgContainer();
//     width: 5%;
//     position: absolute;
//     right: 10%;
//     // right: 19%;
//     // top: 5%;
//     // z-index: -2;
//   }

//   &__pillar1-svg {
//     @include svgContent();
//   }
// }
