.footer-text-container {
  font-family: SofiaProSoftW01-Regular;
  position: relative;
  letter-spacing: 0.1em;
  padding: 1em 4.65em;
  font-size: 12px;
  @include respond(mission) {
    padding-left: 1em;
    margin-top: -0.3em;
  }
  @include respond(phone) {
    padding: 0 4.5em;
  }
}

/* Footer text */
.footer-text__designers {
  text-align: left;
  width: 75%;
  float: left;

  @include respond(phone) {
    margin: 1.2em 0 3em 0;
    width: 100%;
  }
}

.footer-text__copyright {
  text-align: left;
}
