// Placeholder for stats to keep everything in the correct position.
.stats-backdrop__container {
    background-color:#FFFFFF;
    position: relative;
    min-height: 586px;
}

@media all and (min-width: 1368px) {
    div.stats-backdrop__container {
        min-height: 786px;
    }
}
