/* _cta.scss */

// CTA View Container

.cta-view-container {
  position: relative;
  min-height: 766px;
  width: 100vw;
  left: 0;
  top: 0;
  display: flex;
  flex-flow: column nowrap;
}

// Join Our Mission View Container

.join-our-mission {
  width: 100vw;

  &__title {
    margin: 0 35.42% 0 12.07%;
  }

  &__title-text {
    @include font-source-main(
      35px,
      41px,
      0.04em,
      3px,
      false,
      normal,
      bold,
      #2e2c5f
    );
    mix-blend-mode: normal;
  }

  &__description {
    margin: 2% 44.01% 0 12.33%;
    white-space: nowrap;
  }

  &__description-text {
    @include font-source-body(
      16px,
      12px,
      0.02em,
      false,
      false,
      false,
      false,
      #383636
    );
  }

  &__button-container {
    margin: 3% 44.01% 0 12.33%;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
  }

  &__button {
    width: 160px;
    height: 41px;
    background-color: #5dcec6;
    border-radius: 10px;
    box-shadow: 0 2px 2px #bfbfbf;
  }

  &__button-text {
    @include font-source-body(
      12px,
      15px,
      0.07em,
      3px,
      center,
      false,
      false,
      #fffefe
    );
    cursor: pointer;
  }

  .button--mentor {
    margin: 0 0.3% 0 0;
  }

  .button--volunteer {
    margin: 0 0 0 0.3%;
  }
}

// Sponsor Us View Container

.sponsor-us {
  width: 100%;

  &__title {
    margin: 5.91% 35.42% 0 12.07%;
  }

  &__title-text {
    @include font-source-main(
      35px,
      41px,
      0.04em,
      3px,
      false,
      normal,
      bold,
      #2e2c5f
    );
    mix-blend-mode: normal;
  }

  &__description {
    margin: 2% 44.01% 0 12.33%;
    white-space: nowrap;
  }

  &__description-text {
    @include font-source-body(
      16px,
      12px,
      0.02em,
      false,
      false,
      false,
      false,
      #383636
    );
  }

  &__button-container {
    margin: 3% 44.01% 0 12.33%;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
  }

  &__button {
    width: 160px;
    height: 41px;
    background-color: #5dcec6;
    border-radius: 10px;
    box-shadow: 0 2px 2px #bfbfbf;
  }

  &__button-text {
    @include font-source-body(
      12px,
      15px,
      0.07em,
      3px,
      center,
      false,
      false,
      #fffefe
    );
    cursor: pointer;
  }
}
