.about {
  &__container {
    @include flexBox();
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;

    min-height: 796px;

    @include respond(tab-land) {
      align-items: center;
      left: unset;
      padding-left: 2%;
      padding-right: 2%;
      min-height: 696px;
    }
  }

  @import './text/title';
  @import './text/subtitle';
  @import './text/description';

  &__placeholder-text {
    font-family: SofiaProSoftW01-Regular;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.04em;
    text-indent: 3px;

    color: #cdcdcd;

    transform: rotate(26.68deg);
  }
}

.about-text__container {
  position: absolute;
  top: 25em;
  right: 20vw;
  padding-left: 3em;
  @include respond(tab-land) {
    top: 12em;
  }
  @include respond(tab-port) {
    right: 10vw;
    width: 25em;
    top: 11em;
  }
  @include respond(phone) {
    right: auto;
    width: 25em;
    top: 65vw;
    padding: 0 2em 0 2em;
  }
  @include respond(phone-narrow) {
    padding: 0 1em 0 1em;
    max-width: 18em;
  }
}
