.about {
  &__container {
    @include flexBox();
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    left: 491px;

    width: 100vw;

    @include respond(tab-land) {
      align-items: center;
      align-content: center;
      justify-content: center;
      left: unset;
      padding-left: 10%;
      padding-right: 10%;
    }
  }

  @import './text/title';
  @import './text/subtitle';
  @import './text/description';

  &__placeholder-text {
    font-family: SofiaProSoftW01-Regular;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.04em;
    text-indent: 3px;

    color: #cdcdcd;

    transform: rotate(26.68deg);
  }
}
