.welcome-pillars {
    position: relative;
    width: 70%;
    height: 55%;
    z-index: -2;
}

.welcome-mountain {
    position: absolute;
    left: 0;
    top: 28em;
    bottom: 0;
    z-index: -1;
    max-width: 100%;
    vertical-align: middle;
    width: 100vw;
    //height: 100vh;
}

.welcome-pillars__bd, .welcome-mountain__bd {
    position: absolute;
    min-height: 500px;
}

.welcome-pillars__bd {
    z-index: -2;
    top: 0;
}

.welcome-mountain__bd {
    z-index: -1;
    top: 27em;
    bottom: 0;
    height: 100vh;
    overflow: visible;
}
