.faq-support{
    &__card{
        width: 914px;
        // height: 745px; 
        min-height: 500px;
        height: auto; 
        background: #FFFFFF;
        box-shadow: 0px 2px 20px rgba(205, 205, 205, 0.5);
        border-radius: 12px;
        display: block;
        position: relative;
        left: 20vw;
        right: 20vw;
        margin-bottom: 51px;
    }

    &__title{
        @include font-source-subheader(
            $size: 64px,
            $color: #5C68D7,
            $weight: bold,
            $lineHeight: 3.56em,
            $letterSpace: 0.05em, 
            $fontStyle: normal
        );

        font-family: Avenir Next;
        display: block;
        text-transform: uppercase;
        text-align: center;
    }
}