.faq-support{
    &__container{
        @include cardContainer();
    }

    &__card{
        @include card(); 
    }

    &__title{
        @include cardTitle();
        max-width: 12em;
        padding-top: 1em;
        padding-bottom: 1em;
        margin: 0 auto;
        line-height: 60px;
    }

    &__questions-container{
        display: flex;
        align-self: auto;
        flex-direction: column;
        margin-left: calc(20px + 5vw);
        margin-right: calc(20px + 5vw);
    }

    &__questions{
        @include font-source-subheader(
            $size: 18px,
            $color: #5f5f5f,
            $weight: medium,
            $lineHeight: 25px,
            $letterSpace: 0.05em
        );
        cursor: pointer;
        text-decoration: none;
        outline: 0;
        padding: 0;
        border: none;
        background: none;
        margin-bottom: 30px;
        text-align: left;
        margin-left: calc(20px + 5vw);
        margin-right: calc(20px + 5vw);
    }

    &__answers{
        @include font-source-subheader(
            $size: 20px,
            $color: #696969,
            $weight: medium,
            $lineHeight: 25px,
            $letterSpace: 0.05em
        );
        display: none;
        margin-left: calc(20px + 8vw);
        margin-right: calc(20px + 5vw);
        padding-bottom: 12px;
        margin-top: -3vh;
        @include responsive-font(1.4vw, 14px, 18px);
        left: 0;
    }
}