/* gradients are placeholder only for now */

:root {
  --color-linear-001: linear-gradient(
    to bottom,
    #80a3ff 0%,
    rgba(255, 242, 223, 0.32) 51.56%,
    #ffffff 100%
  );
  --color-linear-002: linear-gradient(
    to bottom,
    #80a3ff 0%,
    rgba(255, 242, 223, 0.32) 51.56%,
    #ffffff 100%
  );
  --color-linear-003: linear-gradient(
    to bottom,
    #80a3ff 0%,
    rgba(255, 242, 223, 0.32) 51.56%,
    #ffffff 100%
  );
  --color-linear-004: linear-gradient(
    to bottom,
    #80a3ff 0%,
    rgba(255, 242, 223, 0.32) 51.56%,
    #ffffff 100%
  );
  --color-linear-005: linear-gradient(
    to bottom,
    #80a3ff 0%,
    rgba(255, 242, 223, 0.32) 51.56%,
    #ffffff 100%
  );
}

body {
  margin: 0;
  padding: 0;
  background: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
