@mixin FoodTypeAndTime {
    @include font-source-subheader(
            $size: 20px,
            $color: #424242,
            $weight: bold,
            $lineHeight: 30px,
            $letterSpace: 0.05em
    );
    display: block;
    padding-bottom: 12px;
}

@mixin FoodPlace {
    @include font-source-subheader(
            $size: 18px,
            $color: #696969,
            $weight: medium,
            $lineHeight: 20px,
            $letterSpace: 0.05em
    );
    display: block;
    padding-bottom: 12px;
    padding-left: 20px; 
}

@mixin FoodDescription {
    @include font-source-subheader(
            $size: 16px,
            $color: #ADADAD,
            $weight: normal,
            $lineHeight: 20px,
            $letterSpace: 0.05em
    );
    display: block;
    padding-bottom: 12px;
    padding-left: 20px; 
}

.workshop-and-food {
    &__container {
        @include cardContainer();
    }

    &__card {
        @include card(); 
    }

    &__day-button-container {
        display: flex;
        flex-flow: row;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0 auto;
        width: calc(30vw + 10vh);
    }

    &__day-button-one, &__day-button-two, 
    &__day-button-three {
        text-decoration: none;
        border: none;
        @include font-source-subheader(
            $size: 18px,
            $color: #424242,
            $weight: normal,
            $lineHeight: 30px,
            $letterSpace: 0.05em
        );
        cursor: pointer;
        background: none;
        border-radius: 25.5px;
        outline:0;
    }

    &__day-button-one.active, &__day-button-one:active,
    &__day-button-two.active, &__day-button-two:active, 
    &__day-button-three.active, &__day-button-three:active { 
        background-color: #F2F2F2;
        @include font-source-subheader(
            $size: 18px,
            $color: #424242,
            $weight: bold,
            $lineHeight: 30px,
            $letterSpace: 0.05em
        );
        outline: 0;
    }

    &__toggle-buttons {
        padding-bottom: 60px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__checkbox {
        height: 0;
        width: 0;
        visibility: hidden;
    }

    &__label{
        display: block;
        margin-left: 25vw;
        width: 450px;
        height: 50px;
        background: grey;
        border-radius: 100px;
        // position: relative;
        transition: background-color .2s;
        // z-index: 1;
    }

    &__button, &__label {
        content: '';
        position: absolute;
        top: 12px;
        left: 2px;
        width: 450px;
        height: 45px;
        border-radius: 45px;
        transition: 0.2s;
        background: #5C72EA;
        box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
    }

    &__checkbox:checked + &__label, &__button {
        display: block;
        left: 2vw;
        transform: translateX(-100%);
        background-color: #EEEEEE;
    }

    &__label:active, &__button {
        width: 450px;
    }
}

@import './workshops/dayone';
@import './workshops/daytwo';
@import './workshops/daythree';
@import './food/dayone';
@import './food/daytwo';
@import './food/daythree';