// ============================================================================
// Global Styles
// ============================================================================

/* Mixins */
@import './mixins';

/* Fonts */
@import './fonts';

/* Landing Styles */
@import './components/landing/landing';

html,
body {
  max-width: 100%;
  max-height: 100vh;
  margin: 0;
  padding: 0;
}

.app-root {
  display: block;
  max-width: 100%;
}

#mlh-trust-badge {
  margin-top: -1px;
  @include respond(phone-narrow) {
    visibility: hidden;
  }
}
