// ============================================================================
// Global Styles
// ============================================================================

/* Mixins */
@import './mixins';

/* Fonts */
@import './fonts';

body {
  margin: 0;
  box-sizing: border-box;
  background-color: #ffffff;
}

.app-root {
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
}

/* Landing Styles */
@import './components/landing/landing';

/* Footer Styles */
@import './components/footer/footer';
@import './components/footer/text/text';
@import './components/footer/buttons/buttons';
