/* mixins.scss */

// ============================================================================
// Media Queries
// ============================================================================

@mixin respond($breakpoint) {
  @if ($breakpoint == phone-narrow) {
    @media (max-width: 35em) {
      @content;
    }
  }
  @if ($breakpoint == phone) {
    @media (max-width: 42.5em) {
      @content;
    }
  }
  @if ($breakpoint == tab-port) {
    @media (max-width: 56.25em) {
      @content;
    }
  }
  @if ($breakpoint == tab-land) {
    @media (max-width: 75em) {
      @content;
    }
  }
  @if ($breakpoint == mission) {
    @media (max-width: 99em) {
      @content;
    }
  }
  @if ($breakpoint == big-desktop) {
    @media (min-width: 112.5em) {
      @content;
    }
  }
}

// =============================================================================
// String Replace (https://gist.github.com/jonathantneal/d0460e5c2d5d7f9bc5e6)
// =============================================================================

@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      str-replace(
        str-slice($string, $index + str-length($search)),
        $search,
        $replace
      );
  }

  @return $string;
}

// ============================================================================
// H1 style for spans
// ============================================================================

@mixin h1 {
  @include font-source-header(
    $size: 3em,
    $color: #2e2c5f,
    $lineHeight: 45px,
    $letterSpace: 0.05em,
    $weight: bold
  );
  text-transform: uppercase;
}

// ============================================================================
// Body Font Source
// ============================================================================

@mixin font-source-body(
  $size: false,
  $color: false,
  $weight: false,
  $lineHeight: false,
  $letterSpace: false
) {
  font-family: SofiaProSoftW01-Regular;
  @if ($size) {
    font-size: $size;
  }
  @if ($color) {
    color: $color;
  }
  @if ($weight) {
    font-weight: $weight;
  }
  @if ($lineHeight) {
    line-height: $lineHeight;
  }
  @if ($letterSpace) {
    letter-spacing: $letterSpace;
  }
}

// ============================================================================
// Subheader Font Source
// ============================================================================

@mixin font-source-subheader(
  $size: false,
  $color: false,
  $weight: false,
  $lineHeight: false,
  $letterSpace: false
) {
  font-family: AvenirBook;
  @if ($size) {
    font-size: $size;
  }
  @if ($color) {
    color: $color;
  }
  @if ($weight) {
    font-weight: $weight;
  }
  @if ($lineHeight) {
    line-height: $lineHeight;
  }
  @if ($letterSpace) {
    letter-spacing: $letterSpace;
  }
}

// ============================================================================
// Header Font Source
// ============================================================================

@mixin font-source-header(
  $size: false,
  $color: false,
  $weight: false,
  $lineHeight: false,
  $letterSpace: false
) {
  font-family: Rubik;
  @if ($size) {
    font-size: $size;
  }
  @if ($color) {
    color: $color;
  }
  @if ($weight) {
    font-weight: $weight;
  }
  @if ($lineHeight) {
    line-height: $lineHeight;
  }
  @if ($letterSpace) {
    letter-spacing: $letterSpace;
  }
}

// ============================================================================
// Responsive SVG
// ============================================================================

@mixin svgContainer() {
  display: inline-block;
  position: static;
  width: 100vw;
  vertical-align: middle;
  overflow: hidden;
}

.responsive-svg-container {
  @include svgContainer();
}

@mixin svgContent() {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.responsive-svg-content {
  @include svgContent();
}

// ============================================================================
// Flex Containers
// ============================================================================

@mixin flexBox() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-box {
  @include flexBox();
}

@mixin flexRow() {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.flex-row {
  @include flexRow();
}

@mixin flexColumn() {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: space-between;
}

.flex-column {
  @include flexColumn();
}
