// !FIX GENDER SECTION other text box not changing

.application {
  height: 100%;
  width: 100%;
  position: absolute;
  font-family: 'Rubik Regular';
  letter-spacing: 1px;
  &__titleBar {
    top: 0;
    height: 9.9em;
    background-color: #6f6fe8;
  }
  &__titleBar-text {
    font-size: 1.75em;
    color: white;
    top: 37.5%;
    margin-left: 3em;
    position: relative;
  }
  &__header {
    margin-bottom: 2em;
    font-size: 1.25em;
    max-width: 8em;
    height: auto;

    // TODO border bottom
  }
  &__header::before {
    position: absolute;
    content: '';
    background-image: url('underline.svg');
    background-repeat: no-repeat;
    background-position-y: 16px;
    background-size: cover;
    margin-left: -0.2em;
    z-index: -1;
    height: 1.5em;
    width: 8.25em;
  }
  &__button {
    margin-top: 50px;
    margin-bottom: 150px;
    color: white;
    background-color: #6F6FE8;
    border-radius: 10%;
    font-size: 24px;
    padding: 20px 25px 20px 25px;
    float: right;
  }
}
.radio-button {
  margin: 0.6vw 0.9vw 0.6vw 0;
  display: inline-block;
}
.radio-button-spaced {
  margin: 0.6vw 3vw 0.6vw 0;
  display: inline-block;
}
.radio-label {
  margin-right: 0.4vw;
}

@import 'forms/demographics';
@import 'forms/experiences';
@import 'forms/logistics';
