@mixin newsCard {
  position: relative;
  display: flex;
  flex-direction: row;
  background: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  margin: calc(4vh - 0.5em) calc(4vw - 0.5em) 0 calc(4vw - 0.5em);
  min-height: 15em;
}

&__card-chp {
  @include newsCard;
}

&__card-scw {
  @include newsCard;
}
