/* _base.scss */

// ============================================================================
// Global Styles
// ============================================================================

/* Mixins */
@import './mixins';

/* Fonts */
@import './fonts.scss';

body {
  margin: 0;
  box-sizing: border-box;
  background-color: #ffffff;
}

.app-root {
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Landing Styles */
@import './components/landing/landing';

/* Fonts */
@import './fonts.scss';

/* Hero Styles */
@import './components/landing/hero/hero';
@import './components/landing/hero/header/header';
@import './components/landing/hero/navbar/navbar';
@import './components/landing/hero/title-area/title-area';

/* About Styles */
@import './components/about/about';

/* Welcome Styles */
@import './components/welcome/welcome';
@import './components/welcome/cards/cards';
@import './components/welcome/title/title';

/* CTA Styles */
@import './components/cta/cta';

/* FAQ Styles*/
@import './components/faq/faq';

/* Sponsor Styles */
@import './components/sponsors/sponsors';

/* Footer Styles */
@import './components/footer/footer';
@import './components/footer/text/text';
@import './components/footer/buttons/buttons';

/* Stats Styles */
@import './components/landing/stats/stats';
