.crowd-forge{
    &__container {
        @include cardContainer(); 
    }
    &__card{
        @include card();
    }

    &__find-team{
        @include font-source-subheader(
            $size: 22px,
            $color: #575757,
            $weight: bold,
            $lineHeight: 3.56em,
            $letterSpace: 0.05em, 
            $fontStyle: normal
        );
        margin-left: 50px;
        font-family: Avenir Next;
        text-transform: uppercase;
    }

    &__title{
        @include cardTitle()
    }

    &__line-one-description{
        @include font-source-subheader(
            $size: 18px,
            $color: #424242,
            $weight: normal,
            $lineHeight: 30px,
            $letterSpace: 0.05em
        );
        display: block;
        font-style: normal;
        text-align: left;
        margin-left: 150px;
        margin-right: 150px;
        margin-bottom: 60px;
    }

    &__guidelines{
        @include font-source-subheader(
            $size: 18px,
            $color: #424242,
            $weight: bold,
            $lineHeight: 30px,
            $letterSpace: 0.05em
        );
        display: block;
        font-style: bold;
        text-align: left;
        margin-left: 150px;
        margin-right: 150px;
    }

    &__item1, &__item2, &__item3{
        @include font-source-subheader(
            $size: 18px,
            $color: #424242,
            $weight: normal,
            $lineHeight: 30px,
            $letterSpace: 0.05em
        );
        display: block;
        font-style: normal;
        text-align: left;
        margin-left: 150px;
        margin-right: 150px;
        margin-bottom: 10px;
    }

    &__team-link{
        padding: 20px;
        background: #45C899;
        border-radius: 7px;
        text-align: center;
        display: block;
        margin-top: 120px;
        margin-left: 60px;
        margin-right: 60px;
        margin-bottom: 15px;
        text-decoration: none;

        @include font-source-subheader(
            $size: 18px,
            $color: #ffffff,
            $weight: 600,
            $lineHeight: 25px,
            $letterSpace: 0.05em
        );
    }

    &__team-link:hover{
        background: #32AA7F;
    }

    &__link-container {
        padding-bottom: 12px;
    }

}